<div class="flex flex-column" style="height: 100%">
  <h1 class="page-title">Регистрация</h1>
  <div class="f-grow-1 flex flex-column justify-center">
    <ng-container *ngIf="!!registrationResult?.success">
      <div class="info-block text-center">
        Мы отправили вам email для активации аккаунта<br>
        Перейдите по ссылке для завершения регистрации
      </div>
    </ng-container>
    <form (ngSubmit)="register()" *ngIf="!registrationResult?.success" [formGroup]="form">
      <div class="">
        <div class="info-block py-5 px-4">
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Email:</label>
              <div class="form-control"><input formControlName="email" name="email" type="text"/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Имя:</label>
              <div class="form-control"><input formControlName="firstName" name="firstName" type="text"/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Фамилия:</label>
              <div class="form-control"><input formControlName="lastName" name="lastName" type="text"/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Пароль:</label>
              <div class="form-control p-relative">
                <input formControlName="password" [type]="passwordHidden? 'password':'text'"/>
                <i class="password-toggle fa" [class.fa-eye-slash]="!passwordHidden" [class.fa-eye]="passwordHidden"
                   (click)="passwordHidden=!passwordHidden"></i>
              </div>
              <password-strength-meter [password]="form.value.password"></password-strength-meter>
            </div>
          </div>
          <ng-container *ngIf="registrationResult && !registrationResult.success" [ngSwitch]="registrationResult.error">
            <div class="text-center color-attention">
              <ng-container *ngSwitchCase="registrationErrors.EMAIL_EXISTS">Вы уже регистрировались с этим email
              </ng-container>
              <ng-container *ngSwitchCase="registrationErrors.USERNAME_EXISTS">Вы уже регистрировались с этим email
              </ng-container>
              <ng-container *ngSwitchDefault>Что-то пошло не так. Попробуйте позднее</ng-container>
            </div>
          </ng-container>
        </div>
        <div [ngSwitch]="loading|async" class="p-4 py-3">
          <button *ngSwitchDefault [disabled]="form.invalid" class="btn btn-secondary btn-block">Зарегистрироваться
          </button>
          <div *ngSwitchCase="true" class="text-center"><i class="fa fa-spin fa-spinner fa-2x"></i></div>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center my-2">
    <a routerLink="/login">Войти</a>
  </div>
</div>
