.pwa-install-panel {
  width: 100%;
  box-shadow: 0px -3px 5px -1px rgba(0, 0, 0, 0.2),
  0px -5px 8px 0px rgba(0, 0, 0, 0.14),
  0px -1px 14px 0px rgba(0, 0, 0, 0.12);
  background: var(--secondary);
  color: var(--white);
  padding: 1.5rem;

  span {
    padding-left: .5rem;
  }
}
