<div class="rate-widget pt-1 pb-1">
  <span
    (click)="setRating(star.star)"
    *ngFor="let star of stars; let index=index"
    [class.selected]="star.star<=value"
    class="item"
  >
    <i [class.fa-star-o]="star.star>value" [class.fa-star]="star.star<=value" class="fa"></i>
    <ng-container *ngIf="index<4">&nbsp;</ng-container>
  </span>
</div>
