<div class="loader">
  <div class="loader__indicator"></div>
  <div class="loader__indicator"></div>
  <div class="loader__indicator"></div>
  <div class="loader__indicator"></div>
  <div class="loader__indicator"></div>
</div>
