<ng-container *ngIf="!deal.isActive">
  <div *ngIf="deal.tag==='pending_review' && !deal.review"
       class="d-iblock border-radius-4 py-1 px-3 bg-success-01 color-success">
    <i class="fa fa-star mr-1"></i> Ожидает отзыв
  </div>
  <div *ngIf="deal.tag==='' || (deal.tag==='pending_review' && !!deal.review)"
       class="d-iblock border-radius-4 py-1 px-3 bg-success-01 color-success">
    <i class="fa fa-check mr-1"></i> Визит завершен
  </div>
  <div *ngIf="deal.tag==='suspended'"
       class="d-iblock border-radius-4 py-1 px-3 bg-attention-01 color-attention">
    <i class="fa fa-clock-o mr-1"></i> Визит просрочен
  </div>
  <div *ngIf="deal.tag==='cancelled'"
       class="d-iblock border-radius-4 py-1 px-3 bg-attention-01 color-attention">
    <i class="fa fa-times mr-1"></i> Визит отменен
  </div>
</ng-container>
<ng-container *ngIf="deal.isActive">
  <ng-container *ngIf="!deal.pendingPayment">
    <div *ngIf="deal.startedAt"
         class="d-iblock bg-primary-01 color-primary border-radius-4 py-1 px-3">
      <i class="fa fa-handshake-o mr-1"></i> В процессе
    </div>
    <div *ngIf="!deal.startedAt" class="d-iblock bg-gray-100 border-radius-4 py-1 px-3">
      <i class="fa fa-calendar mr-1"></i> Ожидает начала
    </div>
  </ng-container>
  <ng-container *ngIf="deal.pendingPayment">
    <div class="d-iblock bg-success-01 color-success border-radius-4 py-1 px-3">
      <i class="fa fa-credit-card mr-1"></i> Ожидает оплаты
    </div>
  </ng-container>
</ng-container>
