<div class="flex justify-between">
  <h3 [routerLink]="['/parent', details.parent.id]" class="font-1 lh-1_3 fw-500 mb-2 mr-1">{{details.parent.name}}</h3>
  <div class="f-shrink-0 color-gray-300">#{{id}}</div>
</div>

<div class="flex mb-1 color-gray-700">
  <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-calendar font-1_5"></i>
  </div>
  {{details.date | date: 'd LLLL yyyy, EEEE'}}
</div>
<div class="flex mb-1 color-gray-700">
  <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-clock-o font-1_5"></i></div>
  {{details.fromTime}} - {{details.toTime}}
</div>
<div class="flex mb-1 color-gray-700">
  <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-child font-1_5"></i></div>
  <div>
    {{details.children.length}}
    <ng-container i18n="@@childrenCount">{
      details.children.length,
      plural,
      =1 {ребенок}
      other {детей}
      }</ng-container>
    <br>
    <ng-container *ngFor="let child of details.children; let last=last; let i=index" class="pl-2"
                  style="list-style: none">
      <es-child [child]="child"></es-child>
      <ng-container *ngIf="i<(details.children.length-1)">,
      </ng-container>
    </ng-container>
  </div>
</div>
<div *ngIf="details.district" class="pt-1 mb-2">
  <div [class.bg-attention-01]="!details.district.isOwn"
       [class.bg-success-01]="details.district.isOwn"
       [class.color-attention]="!details.district.isOwn"
       [class.color-success]="details.district.isOwn"
       class="d-iblock border-radius-4 py-1 px-3"
  >
    <i class="fa fa-map-signs mr-1"></i>
    {{details.district.title}}
  </div>
</div>
<ng-content></ng-content>
