<es-info-block class="px-4 py-5">
  <div class="nanny-features">
    <div class="flex">
      <div class="side-col f-shrink-0 pr-3 text-center">
        <div class="price">
          Ставка:
          <div class="text-primary">
            <strong>{{price.value|currency:'PLN':'symbol':'1.0-0'}}</strong>/час.
          </div>
        </div>
      </div>
      <div class="content f-grow-1">
        Стоимость складывается из:<br>
        графика работы, количества детей, наличия высшего образования и др.
      </div>
    </div>
  </div>
</es-info-block>

