<div *chat="let chat with (nannyId|async)"
     class="chat flex flex-column f-grow-1">
  <div *paNannyProfile="let nanny id (nannyId|async)" class="f-shrink-0">
    <div [routerLink]="['/nanny', nanny.id]" class="interlocutor py-2 px-4 bg-white flex align-center">
      <div class="f-shrink-0 pr-3">
        <div [style.background-image]="'url('+nanny.photo+')'" class="userpic-round-10"></div>
      </div>
      <div class="f-grow-1">
        <div class="interlocutor-name">{{nanny.name}}</div>
      </div>
    </div>
  </div>
  <chat-message-box *ngIf="chat.messages.length else noMessages"
                    [messages]="chat.messages"
                    class="chat-conversation f-grow-1 p-4 overflow-y-auto">
    <chat-message
      *ngFor="let message of chat.messages"
      [class.mine]="message.isOwn"
      [message]="message"
      class="message">
    </chat-message>
  </chat-message-box>

  <div class="f-shrink-0">
    <chat-send-box (send)="chat.send($event, 3)"></chat-send-box>
  </div>
</div>
<ng-template #noMessages>
  <div class="f-grow-1 p-4 overflow-y-auto flex justify-center align-center">
    <div class="color-secondary border-radius-2 p-4 font-2 text-center">
      <p>Здесь пока пусто</p>
      <p>Напишите первое сообщение</p>
    </div>
  </div>
</ng-template>
