<div class="rating">
  <div *ngIf="showText" class="amount">{{value|number:'1.1-1'}}</div>
  <div class="stars">
    <i *ngFor="let star of stars" [ngClass]="{'fa': true, 'fa-star': star.starred, 'fa-star-o':!star.starred}"></i>
  </div>
</div>
