<input
  (blur)="onTouched($event)"
  (dateChange)="change($event.value)"
  [formControl]="control"
  [matDatepicker]="picker"
  class=""
  placeholder=""
  type="text"
>
<mat-datepicker-toggle (click)="picker.open()" [for]="picker"
                       class="color-dark"></mat-datepicker-toggle>
<mat-datepicker #picker touchUi></mat-datepicker>
