<ng-container *ngIf="deal$|async as deal">
  <ng-container *ngIf="deal.isActive; else completedTpl">
    <div class="px-4 px-desktop-0 mb-5">
      <div class="flex">
        <div class="f-grow-1">
          <h1 class="page-title text-left mb-1">Визит #{{deal.id}}</h1>
          <div *ngIf="deal.startedAt" class="fs-1 text-secondary">Визит начат</div>
        </div>
      </div>
    </div>

    <div *ngIf="deal.startedAt" class="info-block">
      <div *ngIf="durationAndCost$|async as durationAndCost" class="visit-progress">
        <div class="py-3 px-4">
          <div class="fs-1 pt-1 mb-2 text-center">
            Продолжительность визита:
          </div>
          <div class="text-center color-dark">
            <div class="visit-progress-countdown">{{durationAndCost.duration}}</div>
          </div>
        </div>
        <div class="py-3 px-4 border-style-solid border-color-gray-100 border-top-width-1 border-bottom-width-1">
          <div class="flex align-center justify-between">
            <div class="fs-1">Стоимость визита:</div>
            <div
              class="fs-4 fw-500 color-dark lh-1_1 pr-1">{{durationAndCost.cost|currency:'PLN':'symbol':'1.0-0'}}</div>
          </div>
        </div>
      </div>

    </div>

    <div [routerLink]="['/nanny', deal.nanny.id]" class="info-block py-4 px-4 mb-2">
      <div class="flex align-center">
        <div class="mr-4">
          <es-profile-photo [src]="deal.nanny.photo" size="small"></es-profile-photo>
        </div>
        <div class="f-grow-1">
          <h4 class="font-1 fw-500 mb-1">{{deal.nanny.name}}</h4>
        </div>
      </div>
    </div>

    <div class="info-block pt-6 pb-6 px-4 mb-2">

      <div class="fs-0_5dn color-gray-500">Дата и время:</div>

      <div class="fs-5_5 lh-1_4 color-dark pt-2">
        <es-visit-date [date]="deal.date"></es-visit-date>
        <div>
          <pa-deal-time-range [deal]="deal"></pa-deal-time-range>
        </div>
      </div>

    </div>


    <div class="info-block mb-2">
      <div class="form-row">
        <div class="form-item mb-1">
          <label class="form-label">Дети</label>
          <div class="children-list pt-3">
            <es-child-with-icon *ngFor="let child of deal.children" [child]="child"></es-child-with-icon>
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="deal.wishes" class="info-block pt-5 mb-2">

      <h3 class="">Пожелания:</h3>

      <div *ngSwitchCase="true" [innerHtml]="deal.wishes"></div>
      <div *ngSwitchDefault>Без дополнительных пожеланий</div>

    </div>
    <div class="flex justify-between mb-3">
      <div *ngIf="!deal.startedAt" class="mx-2 f-grow-1">
        <button (click)="cancel(deal)" class="btn btn-mini btn-attention btn-block">Отменить</button>
      </div>
      <div *ngIf="deal.pendingPayment" class="mx-2 f-grow-1">
        <a [href]="deal.pendingPayment.checkoutUrl"
           class="btn btn-mini btn-secondary btn-block text-center"
           rel="noopener"
           style="line-height: 1.2"
           target="_blank">Оплатить</a>
      </div>
    </div>
  </ng-container>
  <ng-template #completedTpl>
    <div class="px-4 mb-5">
      <div class="flex">
        <div class="f-grow-1">
          <h1 class="page-title text-left mb-1">Визит #{{deal.id}}</h1>
        </div>
      </div>
    </div>
    <es-info-block class="request-card pt-6 pb-6 px-4 mb-2">
      <div class="flex">
        <div class="side-col mr-3">
          <div class="request-date bg-secondary-01 color-secondary px-2 py-2 text-center">
            <div>
              <strong>{{deal.date|date:'d'}}</strong>
              {{deal.date|date:'LLL'}}
            </div>
          </div>
        </div>
        <div class="f-grow-1">
          <div class="flex justify-between">
            <h3 [routerLink]="['/nanny', deal.nanny.id]" class="font-1 lh-1_3 fw-500 mb-2 mr-1">{{deal.nanny.name}}</h3>
            <div class="f-shrink-0 color-gray-300">#{{deal.id}}</div>
          </div>

          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-calendar font-1_5"></i>
            </div>
            <es-visit-date [date]="deal.date"></es-visit-date>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-clock-o font-1_5"></i></div>
            <pa-deal-time-range [deal]="deal"></pa-deal-time-range>
          </div>
          <div *ngIf="!deal.isActive && deal.tag!=='suspended' && deal.tag!=='cancelled'"
               class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-money font-1_5"></i></div>
            <pa-deal-real-cost [deal]="deal"></pa-deal-real-cost>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-child font-1_5"></i></div>
            <div>
              <ng-container *ngIf="deal.children.length>1">{{deal.children.length}} детей: <br></ng-container>
              <ng-container *ngFor="let child of deal.children; let last=last; let i=index" class="pl-2">
                <es-child [child]="child"></es-child>
                <ng-container *ngIf="i<(deal.children.length-1)">,
                </ng-container>
              </ng-container>
            </div>
          </div>

          <pa-deal-status-badge [deal]="deal"></pa-deal-status-badge>
          <div *ngIf="deal.review" class="pt-1 flex color-gray-700 font-0_5">
            <div class="mr-2">Ваша оценка:</div>
            <es-rating [rating]="deal.review.rating" [showText]="true"></es-rating>
          </div>
        </div>
      </div>
    </es-info-block>

    <div *ngIf="deal.pendingPayment" class="info-block mb-3">
      <a [href]="deal.pendingPayment.checkoutUrl"
         class="btn btn-mini btn-secondary btn-block text-center"
         rel="noopener"
         style="line-height: 1.2"
         target="_blank">Оплатить</a>
    </div>
    <ng-container *ngIf="deal.review; else reviewForm">
      <div *ngIf="deal.review.pros || deal.review.cons" class="info-block mb-3">
        <div *ngIf="deal.review.pros" class="pt-1">
          <h2 class="font-2 fw-500 flex align-center"><span class="font-6 mr-2"><i
            class="fa fa-thumbs-o-up"></i></span>
            Что понравилось:</h2>
          <div>
            {{deal.review.pros}}
          </div>
        </div>
        <div *ngIf="deal.review.cons" class="pt-1">
          <h2 class="font-2 fw-500 flex align-center"><span class="font-6 mr-2"><i
            class="fa fa-thumbs-o-down"></i></span> Что не понравилось:</h2>
          <div>
            {{deal.review.cons}}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #reviewForm>
      <div *ngIf="deal.tag === 'pending_review'" class="info-block mb-0">
        <es-review-form (save)="submitReview($event, deal)">
          <h2 class="fw-500 mt-4 mb-2">Оцените заказчика</h2>
        </es-review-form>
      </div>
    </ng-template>
  </ng-template>
</ng-container>
