body {
  font: 13px Helmet, Freesans, sans-serif;
}

body, select, input, textarea {
  color: #fff;
}

/*::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}*/

a:link {
  -webkit-tap-highlight-color: rgba($secondary, .2);
}

input:-moz-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

textarea:-moz-placeholder {
  color: #fff;
}

blockquote {
  padding: 16px;
  background: #eee;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

a, button, input {
  outline: none;
}


/*---------------------------------------------------------------*/

html {
  height: 100%;
  font-size: 10px;
  @include mq-mobile() {
    font-size: 2.78vw;
  }
  @include mq-desktop() {
    overflow: auto;
  }
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-basic;
  font-weight: 400;
  line-height: 1.4;
  color: $body-color;
  height: 100%;
  background: #e5e5e5;
  @include when-inside('.nav-on') {
    overflow: hidden;
  }

  &.theme-dark {
    color: $white;

  }
}

.theme-dark {
  color: $white;
}

a {
  text-decoration: none;
  color: $secondary;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 $unit*5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.hide-on-mobile {
  @include mq-mobile() {
    display: none !important;
  }
  /*@include mq-tablet-v(){
    display:block !important;
  }*/
}


