@for $i from 0 to 11 {
  .padding-#{$i}, .p-#{$i} {
    padding: $unit*$i !important;
  }
  .margin-#{$i}, .m-#{$i} {
    margin: $unit*$i !important;
  }
}

@for $i from 0 to 11 {
  .padding-x-#{$i}, .px-#{$i} {
    padding-left: $unit*$i !important;
    padding-right: $unit*$i !important;
  }
  .padding-y-#{$i}, .py-#{$i} {
    padding-top: $unit*$i !important;
    padding-bottom: $unit*$i !important;
  }

  .margin-x-#{$i}, .mx-#{$i} {
    margin-left: $unit*$i !important;
    margin-right: $unit*$i !important;
  }
  .margin-y-#{$i}, .my-#{$i} {
    margin-top: $unit*$i !important;
    margin-bottom: $unit*$i !important;
  }
}

@for $i from 0 to 11 {
  .padding-top-#{$i}, .pt-#{$i} {
    padding-top: $unit*$i !important;
  }
  .padding-bottom-#{$i}, .pb-#{$i} {
    padding-bottom: $unit*$i !important;
  }
  .padding-left-#{$i}, .pl-#{$i} {
    padding-left: $unit*$i !important;
  }
  .padding-right-#{$i}, .pr-#{$i} {
    padding-right: $unit*$i !important;
  }

  .margin-top-#{$i}, .mt-#{$i} {
    margin-top: $unit*$i !important;
  }
  .margin-bottom-#{$i}, .mb-#{$i} {
    margin-bottom: $unit*$i !important;
  }
  .margin-left-#{$i}, .ml-#{$i} {
    margin-left: $unit*$i !important;
  }
  .margin-right-#{$i}, .mr-#{$i} {
    margin-right: $unit*$i !important;
  }
}

.padding-desktop-0, .p-desktop-0 {
  @include mq-desktop() {
    padding: 0 !important;
  }
}

.padding-x-desktop-0, .px-desktop-0 {
  @include mq-desktop() {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.padding-y-desktop-0, .py-desktop-0 {
  @include mq-desktop() {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.margin-desktop-0, .m-desktop-0 {
  @include mq-desktop() {
    margin: 0 !important;
  }
}

.margin-x-desktop-0, .mx-desktop-0 {
  @include mq-desktop() {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.margin-y-desktop-0, .my-desktop-0 {
  @include mq-desktop() {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


@for $i from 0 to 10 {
  .border-radius-#{$i} {
    border-radius: $i*$unit !important;
  }
}

@for $i from 0 to 20 {
  .border-radius-#{$i}px {
    border-radius: $i*1px !important;
  }
}

.flex {
  display: flex !important;
}

.flex-column, .f-column {
  flex-direction: column !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-stretch {
  align-items: stretch !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.f-grow-0 {
  flex-grow: 0 !important;
}

.f-grow-1 {
  flex-grow: 1 !important;
}

.f-shrink-0 {
  flex-shrink: 0 !important;
}

.f-shrink-1 {
  flex-shrink: 1 !important;
}

@for $i from 0 to 15 {
  .f-basis-#{$i} {
    flex-basis: $unit*$i !important;
  }
  .f-basis-mw-#{$i} {
    flex-basis: $unit*$i !important;
    min-width: $unit*$i !important;
  }
  .f-basis-mh-#{$i} {
    flex-basis: $unit*$i !important;
    min-height: $unit*$i !important;
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-attention {
  background-color: $attention !important;
}

@for $i from 1 to 10 {
  .bg-primary-0#{$i} {
    background-color: rgba($primary, calc($i/10)) !important;
  }
  .bg-secondary-0#{$i} {
    background-color: rgba($secondary, calc($i/10)) !important;
  }
  .bg-success-0#{$i} {
    background-color: rgba($success, calc($i/10)) !important;
  }
  .bg-attention-0#{$i} {
    background-color: rgba($attention, calc($i/10)) !important;
  }
  .bg-white-0#{$i} {
    background-color: rgba($white, calc($i/10)) !important;
  }
  .bg-dark-0#{$i} {
    background-color: rgba($dark, calc($i/10)) !important;
  }
}

.color-white {
  color: $white !important;
}

.color-primary {
  color: $primary !important;
}

.color-secondary {
  color: $secondary !important;
}

.color-success {
  color: $success !important;
}

.color-attention {
  color: $attention !important;
}

.color-dark {
  color: $dark !important;
}

@for $i from 1 to 10 {
  .color-white-0#{$i} {
    color: rgba($white, calc($i/10)) !important;
  }
  .color-primary-0#{$i} {
    color: rgba($primary, calc($i/10)) !important;
  }
  .color-secondary-0#{$i} {
    color: rgba($secondary, calc($i/10)) !important;
  }
  .color-success-0#{$i} {
    color: rgba($success, calc($i/10)) !important;
  }
  .color-attention-0#{$i} {
    color: rgba($attention, calc($i/10)) !important;
  }
  .color-dark-0#{$i} {
    color: rgba($dark, calc($i/10)) !important;
  }
}

.color-gray-50 {
  color: $gray-50 !important;
}

.color-gray-100 {
  color: $gray-100 !important;
}

.color-gray-200 {
  color: $gray-200 !important;
}

.color-gray-300 {
  color: $gray-300 !important;
}

.color-gray-400 {
  color: $gray-400 !important;
}

.color-gray-500 {
  color: $gray-500 !important;
}

.color-gray-600 {
  color: $gray-600 !important;
}

.color-gray-700 {
  color: $gray-700 !important;
}

.bg-gray-50 {
  background-color: $gray-50 !important;
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.bg-gray-200 {
  background-color: $gray-200 !important;
}

.bg-gray-300 {
  background-color: $gray-300 !important;
}

.bg-gray-400 {
  background-color: $gray-400 !important;
}

.bg-gray-500 {
  background-color: $gray-500 !important;
}

.bg-gray-600 {
  background-color: $gray-600 !important;
}

.bg-gray-700 {
  background-color: $gray-700 !important;
}

.font-weight-300, .fw-300 {
  font-weight: 300 !important;
}

.font-weight-400, .fw-400 {
  font-weight: 400 !important;
}

.font-weight-500, .fw-500 {
  font-weight: 500 !important;
}

.font-weight-700, .fw-700 {
  font-weight: 700 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.d-block {
  display: block !important;
}

.d-iblock {
  display: inline-block !important;
}

.va-top {
  vertical-align: top !important;
}

.va-middle {
  vertical-align: middle !important;
}

.va-bottom {
  vertical-align: bottom !important;
}

.p-relative {
  position: relative !important;
}

.p-static {
  position: static !important;
}

.p-absolute {
  position: absolute !important;
}

.p-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shadow {
  box-shadow: $box-shadow-base !important;
}

.shadow-lg {
  box-shadow: $box-shadow-lg !important;
}

.no-shadow {
  box-shadow: none !important;
}

.screen-frame {
  /*max-width: 36.0rem;
  margin: 0 auto;
  padding: 3vh 0 0;
  height: 95vh;*/
  display: flex;
  flex-direction: column;

  max-width: none;
  height: 100vh;
  padding: 0;
  @include mq-mobile() {

  }
}

.app-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  background: $gray-50;
  position: relative;
  @include mq-desktop() {
    background: $gray-50 url(../images/bg-1920x1080-compress.jpg) no-repeat center center;
    background-size: 100% auto;
  }
  @include when-inside('.theme-dark') {
    background: linear-gradient(117.08deg, rgba($primary, .8) 26%, rgba($secondary, .8) 100%),
    linear-gradient(to right, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .4) 100%),
    url(../images/image-search-bg.jpg) no-repeat center top;
    background-size: cover;
    @include mq-desktop() {
      background: linear-gradient(117.08deg, rgba($primary, .8) 26%, rgba($secondary, .8) 100%),
      linear-gradient(to right, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .4) 100%),
      url(../images/image-search-desktop-bg.jpg) no-repeat center top;
      background-size: cover;
    }
  }
  @include when-inside('.start-page') {
    background: linear-gradient(114.58deg, rgba(95, 161, 203, 0.8) 0.42%, rgba(120, 77, 141, 0.81) 100%),
    url(../images/start-page-bg.jpg) no-repeat center top;
    background-size: cover;
    @include mq-desktop() {
      background: linear-gradient(117.08deg, rgba($primary, .8) 26%, rgba($secondary, .8) 100%),
      linear-gradient(to right, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .4) 100%),
      url(../images/image-search-desktop-bg.jpg) no-repeat center top;
      background-size: cover;
    }
  }
}

.app-body {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;

  &-inner {
    min-height: 0;
    flex-grow: 1;
    @include mq-desktop() {
      width: 55.5rem;
      margin: 0 auto;
    }
  }
}

.d-none {
  display: none;
}

.d-desktop-none {
  @include mq-desktop() {
    display: none;
  }
}
