.nanny-card {
  margin-bottom: 2*$unit;
  padding: 4*$unit 4*$unit 3*$unit 0;
  background: #fff;
  box-shadow: $box-shadow-base;
  display: flex;
  /*&:active {
    background-color: $gray-100;
  }*/
  .side-col {
    flex-basis: 9.2rem;
    min-width: 9.2rem;
    flex-shrink: 0;
    text-align: center;
  }

  .userpic {
    @include userpic-round(14.5);
  }

  .price {
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 400;

    strong {
      font-size: 120%;
      font-weight: 700;
    }
  }

  .nanny-name {
    font-size: 1.6rem;
    font-weight: 400;
    color: $dark;
    margin-bottom: 1*$unit;

    a {
      color: $dark;
    }

    strong {
      font-weight: 500;
    }

    .group {
      display: inline-block;
    }
  }

  .nanny-achievements {
    font-size: 1.4rem;
    color: $gray-400;

    .item {
      display: inline-block;
      vertical-align: middle;

      &:before {
        content: '|';
        display: inline-block;
        /*vertical-align: middle;*/
        margin: 0 .35rem;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  .nanny-summary {
    font-size: 1.3rem;
    line-height: 1.4;
  }

}

.select-flag {
  float: right;
  width: 6*$unit;
  height: 6*$unit;
  border: .1rem solid $gray-300;
  background-color: $gray-50;
  border-radius: 50%;
  padding-top: .25rem;
  margin: -.1rem -.1rem 0 0;
  font-size: 1.4rem;
  text-align: center;
  /*color: $gray-50;*/
  cursor: pointer;
  transition: all 150ms ease;
  -webkit-backface-visibility: hidden;

  &.selected {
    background-color: $primary;
    border-color: $primary;
  }

  .fa {
    color: $white;
    opacity: 0;
    transform: scale(.5) rotate(30deg);
    transition: all 190ms ease 100ms;
    -webkit-backface-visibility: hidden;
  }

  &.selected {
    .fa {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
}

.nanny-card.selected {
  .select-flag {
    @extend .select-flag,.selected;

    &:after {
      @extend .fa;
      color: $white;
      opacity: 1;
      transform: scale(1) rotate(0deg);
      transition: all 190ms ease 100ms;
      -webkit-backface-visibility: hidden;
      content: $fa-var-check;
    }
  }
}
