.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1*$unit;

  .tiles-item {
    flex-basis: 33.3%;
    width: 33.3%;
    margin-bottom: 3*$unit;
    text-align: center;
    color: $secondary;
    fill: $secondary;
    display: flex;
    flex-direction: column;
    @include when-inside('.theme-dark') {
      color: $white;
    }

    .inner {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background: $white;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
      border-width: .2rem;
      border-style: solid;
      border-color: $white;
      margin: 0 $unit;
      padding: calc($unit/2);
      min-height: 9.8rem;
      position: relative;
      @include when-inside('.theme-dark') {
        background: $white-100;
        border-color: $white-500;
      }
    }

    &.selected {
      .inner {
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          background: $gray-50;
          color: $secondary;
          font-size: 1.6rem;
          padding: $unit 2*$unit;
          min-height: 3.0rem;
          min-width: 3.0rem;
          content: $fa-var-check;
          font-family: FontAwesome;
        }
      }
    }

    &.inactive {
      .inner {
        opacity: .5;
        box-shadow: none;
      }
    }

    &.selectable {
      .inner {
        &:active {
          background: $gray-50;
        }

        @include when-inside('.theme-dark') {
          &:active {
            background: $white-200;
          }
        }
      }
    }

    .icon {
      flex-grow: 1;
      padding: 1*$unit;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        display: block;
        width: 4.7rem;
        height: 5.7rem;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

    }

    .flag-selected {
      position: absolute;
      left: 0;
      top: 0;
      background: $gray-100;
      color: $secondary;
      font-size: 1.6rem;
      padding: $unit 2*$unit;
      min-height: 3.0rem;
      min-width: 3.0rem;
    }
  }

  .tile-text {
    flex-shrink: 0;
    padding: 1*$unit;
    font-size: 1.4rem;
  }

  .add-item {
    flex-basis: 33.3%;
    width: 33.3%;
    margin-bottom: 3*$unit;
    text-align: center;
    color: $gray-200;
    display: flex;
    flex-direction: column;
    @include when-inside('.theme-dark') {
      color: $white;
    }

    .inner {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin: 0 $unit;
      padding: 1*$unit;
      min-height: 9.8rem;
      background-color: $white;
      border: .2rem dotted $gray-200;

      &:active {
        background-color: $gray-50;
      }

      @include when-inside('.theme-dark') {
        background-color: transparent;
        border-color: $white-500;
        border-style: solid;
        &:active {
          background-color: $white-200;
        }
      }
    }

    .icon {
      flex-grow: 1;
      padding: 1*$unit;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        position: relative;

        &:before {
          content: ' ';
          display: block;
          width: 100%;
          height: .1rem;
          background: $gray-500;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          @include when-inside('.theme-dark') {
            background: $white;
          }
        }

        &:after {
          content: ' ';
          display: block;
          width: 100%;
          height: .1rem;
          background: $gray-500;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) rotate(90deg);
          @include when-inside('.theme-dark') {
            background: $white;
          }
        }
      }
    }

    .caption {
      font-size: 1.4rem;
    }
  }

  .add-first {
    flex-grow: 1;
    margin: 0 $unit;
    padding: 4.5*$unit;
    text-align: center;
    color: $secondary;
    background-color: $white;
    border: .2rem solid transparent;
    box-shadow: $box-shadow-lg;

    &:active {
      background-color: $gray-50;
    }

    @include when-inside('.theme-dark') {
      background-color: $white-150;
      color: $white;
      border: .2rem solid $white-500;
      &:active {
        background-color: $white-200;
      }
    }
  }

  &.tiles-column {
    flex-direction: column;

    .tiles-item {
      flex-direction: row;
      width: 100%;
      flex-basis: 100%;

      .inner {
        flex-direction: row;
        min-height: unset;
        align-items: center;

        .icon {
          flex-grow: 0;

          i {
            width: auto;
            height: auto;
          }
        }
      }

      &.selected {
        .inner:after {
          left: unset;
          right: 0;
        }
      }
    }
  }
}
