.text-basic, .font-0, .fs-0 {
  font-size: $font-size-basic !important;
}

.font-2dn, .fs-2dn {
  font-size: $font-size-2-down !important;
}

.font-1_5dn, .fs-1_5dn {
  font-size: $font-size-1_5-down !important;
}

.font-1dn, .fs-1dn {
  font-size: $font-size-1-down !important;
}

.font-0_5dn, .fs-0_5dn {
  font-size: $font-size-0_5-down !important;
}

.font-0_5, .fs-0_5 {
  font-size: $font-size-0_5 !important;
}

.font-1, .fs-1, .text-large {
  font-size: $font-size-1 !important;
}

.font-1_5, .fs-1_5 {
  font-size: $font-size-1_5 !important;
}

.font-2, .fs-2 {
  font-size: $font-size-2 !important;
}

.font-2_5, .fs-2_5 {
  font-size: $font-size-2_5 !important;
}

.font-3, .fs-3 {
  font-size: $font-size-3 !important;
}

.font-3_5, .fs-3_5 {
  font-size: $font-size-3_5 !important;
}

.font-4, .fs-4 {
  font-size: $font-size-4 !important;
}

.font-4_5, .fs-4_5 {
  font-size: $font-size-4_5 !important;
}

.font-5, .fs-5 {
  font-size: $font-size-5 !important;
}

.font-5_5, .fs-5_5 {
  font-size: $font-size-5_5 !important;
}

.font-6, .fs-6 {
  font-size: $font-size-6 !important;
}

.font-6_5, .fs-6_5 {
  font-size: $font-size-6_5 !important;
}

.font-7, .fs-7 {
  font-size: $font-size-7 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-1_1 {
  line-height: 1.1 !important;
}

.lh-1_2 {
  line-height: 1.2 !important;
}

.lh-1_3 {
  line-height: 1.3 !important;
}

.lh-1_4 {
  line-height: 1.4 !important;
}

.lh-1_5 {
  line-height: 1.5 !important;
}

.text-center {
  text-align: center !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.no-break {
  white-space: nowrap !important;
}

h1, h2, h3, h4, h5 {
  color: $dark;
  @include when-inside('.theme-dark') {
    color: $white;
  }
}

h1 {
  font-size: $font-size-xxl;
  margin-bottom: $unit*6;
}

h2 {
  font-size: $font-size-2;
  margin-bottom: $unit*4;
}

h3 {
  font-size: $font-size-1;
  margin-bottom: $unit*2;
}
