@import "variables";
@import "mixins";
@import "base";
@import "fonts";
@import "material";
@import "forms";
@import "layout";
@import "typography";
@import "widgets";
@import "app-header";
@import "notifications";
@import "chat";
@import "nanny-card";
@import "profile";
@import "children-list";
@import "tiles";
@import "modal";

router-outlet {
  display: none;
}

.u-fancy-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0)
}

.u-fancy-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px
}

.u-fancy-scrollbar::-webkit-scrollbar-button:end:increment, .u-fancy-scrollbar::-webkit-scrollbar-button:start:decrement {
  background: transparent;
  display: none
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: rgba(9, 30, 66, .08)
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-radius: 4px 4px 0 0
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-radius: 0 0 4px 4px
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius: 4px 0 0 4px
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius: 0 4px 4px 0
}

.u-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal, .u-fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
  background: rgba(9, 30, 66, .13);
  border-radius: 4px;
  display: block;
  height: 48px
}

router-outlet + * {
  height: 100%;
  display: block;
}

.ngb-tp {
  justify-content: center;

  input {
    width: 100%;
    max-width: 100%;
  }

  .btn {
    @extend .btn-mini;
    @extend .btn-secondary-outline;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: .5rem;
    border: 0;
    color: var(--white);
  }

  .ngb-tp-input-container {
    width: 5rem;
  }
}

.modal-container {
  &.modal-no-padding {
    .mat-dialog-container {
      @extend .p-0;
    }
  }
}
