<ng-container *ngIf="source$|async as data">
  <div (swipeleft)="navigateToVisits()" *ngIf="data.length; else empty"
       class="px-4 pb-5 overflow-y-auto u-fancy-scrollbar"
       style="min-height: 100%">
    <es-request-card *ngFor="let item of data">
      <div class="side-col mr-3">
        <es-profile-photo [src]="item.request.parent.photo"></es-profile-photo>
      </div>
      <na-request-details [details]="item.request"
                          [id]="item.request.id"
                          [routerLink]="['/request', item.request.id]"
                          class="f-grow-1"></na-request-details>

      <es-request-card-actions>
        <div class="px-1 flex f-grow-1">
          <button
            [routerLink]="['/parent',item.request.parent.id, 'chat']"
            class="btn btn-mini btn-secondary-outline btn-block"
            i18n="Go to chat@@linkToChat"> Чат
          </button>
        </div>
      </es-request-card-actions>
    </es-request-card>
  </div>
</ng-container>

<ng-template #empty>
  <div (swipeleft)="navigateToVisits()" class="px-4 pb-5 text-center">
    <div class="p-10">
      <div class="toys-icon"></div>
    </div>
    <div class="px-7 text-large">
      <p i18n="No conversations heading@@emptyConversationsListHeading">У Вас пока нет переговоров.</p>
      <p i18n="No conversations subheading@@emptyConversationsListSubheading">Они будут отображаться здесь, когда
        появятся
        интересные предложения.</p>
    </div>
  </div>
</ng-template>
