<form [formGroup]="form">
  <div class="">
    <pa-line-date-piker formControlName="date"></pa-line-date-piker>
    <h2 class="fs-4 fw-700 lh-1_3 text-center">
      <es-visit-date [date]="form.value.date"></es-visit-date>
    </h2>
    <div class="flex align-center mb-1">
      <div class="f-grow-1 text-center pr-4">
        <span class="fs-1_5">Начало:</span>
        <ngb-timepicker
          [minuteStep]="minutesGap"
          [readonlyInputs]="true"
          [seconds]="false"
          formControlName="fromTime"
        ></ngb-timepicker>
      </div>
      <div class="f-shrink-0 f-basis-mw-14">
        <div class="icon-clock "></div>
      </div>
      <div class="f-grow-1 text-center pl-4">
        <span class="fs-1_5">Конец:</span>
        <ngb-timepicker
          [minuteStep]="minutesGap"
          [readonlyInputs]="true"
          [seconds]="false"
          formControlName="toTime"
        ></ngb-timepicker>
      </div>
    </div>
    <div class="flex justify-center date-picker-actions">
      <button (click)="close()" class="btn btn-mini btn-secondary-outline mx-3">Закрыть</button>
    </div>
  </div>
</form>
