<div class="form-row mt-1" [formGroup]="timeRangeGroup" [class.d-none]="anyTimeControl.value">
  <div class="form-item">
    <div class="form-control">

      <input #from
             formControlName="from"
             [format]="24"
             [ngxTimepicker]="fromPricker"
             readonly type="text">
      <ngx-material-timepicker #fromPricker [theme]="theme" [defaultTime]="DEFAULT_FROM"
                               minutesGap="10"></ngx-material-timepicker>
    </div>
  </div>
  <div class="form-item">
    <div class="form-control">
      <input #to
             [format]="24"
             [ngxTimepicker]="toPicker"
             readonly type="text" formControlName="to">
      <ngx-material-timepicker #toPicker [theme]="theme" [defaultTime]="DEFAULT_TO" minutesGap="10"></ngx-material-timepicker>
    </div>
  </div>
</div>
<div class="form-row mt-1 align-center">
  <div class="form-item">
    <div class="form-control">
      <label class="flex align-center">
        <input class="mr-1" type="checkbox" [formControl]="anyTimeControl">
        <ng-container i18n="@@anyTime">Любое время</ng-container>
      </label>
    </div>
  </div>
  <div class="form-item">
    <div class="form-control">
      <button
        (click)="handleClick(from.value, to.value)"
        class="btn btn-secondary-outline btn-mini btn-block"
        i18n="@@addScheduleItem"> Добавить
      </button>
    </div>
  </div>
</div>
