<div class="flex py-1">
  <div class="f-grow-1">
    <h2 class="fs-2 fw-500 ">Создать сделку: </h2>
  </div>
  <div (click)="dialogRef.close()" class="f-shrink-0 modal-close ml-2"></div>
</div>

<div class="">
  <div class="form-row">
    <div class="form-item">
      <label class="form-label pt-1">Запрос:</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">#{{nannyRequest.offer.id}}</div>
      </div>
    </div>
    <div class="form-item">
      <label class="form-label pt-1">Дата визита:</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">{{nannyRequest.offer.date|date}}</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label class="form-label pt-1">Начало визита:</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">{{nannyRequest.offer.fromTime}}</div>
      </div>
    </div>
    <div class="form-item">
      <label class="form-label pt-1">Конец визита:</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">{{nannyRequest.offer.toTime}}</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label class="form-label pt-1">Стоимость (PLN/час):</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">{{nannyRequest.offer.rate}}</div>
      </div>
    </div>
    <div class="form-item">
      <label class="form-label pt-1">Продолжительность:</label>
      <div class="form-control">
        <div class="color-dark fs-1 py-1">3 часа</div>
      </div>
    </div>
  </div>
  <div *ngIf="nannyRequest.offer.offerActionRequired" class="form-row pt-4">
    <div class="f-grow-1 form-item mb-1">
      <div class="form-control">
        <button (click)="refuse()" class="btn btn-secondary-outline btn-mini btn-block">Отказаться</button>
      </div>
    </div>
    <div class="f-grow-1 form-item mb-1">
      <div class="form-control">
        <button (click)="accept()" class="btn btn-secondary btn-mini btn-block">Принять</button>
      </div>
    </div>
  </div>
</div>
