<div class="nav-tabs pt-1 d-desktop-none">
  <ul class="flex justify-around px-3">
    <li class="f-grow-1 text-center" routerLinkActive="active"><a routerLink="/requests">Запросы</a></li>
    <li class="f-grow-1 text-center" routerLinkActive="active"><a routerLink="/deals">Визиты</a></li>
  </ul>
</div>

<ng-container *ngIf="deals$|async as deals else loading">
  <div (swiperight)="onSwipeRight()" *ngIf="deals.length; else empty"
       class="mt-4 px-2 mb-5 overflow-y-auto u-fancy-scrollbar request-list">
    <es-info-block *ngFor="let deal of deals"
                   class="request-card p-4 mb-3">
      <div [routerLink]="['/deals', 'details', deal.id]" class="flex">
        <div class="side-col mr-3">
          <div class="request-date bg-secondary-01 color-secondary px-2 py-2 text-center">
            <div>
              <strong>{{deal.date|date:'d'}}</strong>
              {{deal.date|date:'LLL'}}
            </div>
          </div>
        </div>
        <div class="f-grow-1">
          <div class="flex justify-between">
            <h3 [routerLink]="['/nanny', deal.nanny.id]" class="font-1 lh-1_3 fw-500 mb-2 mr-1">{{deal.nanny.name}}</h3>
            <div class="f-shrink-0 color-gray-300">#{{deal.id}}</div>
          </div>

          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-calendar font-1_5"></i>
            </div>
            <es-visit-date [date]="deal.date"></es-visit-date>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-clock-o font-1_5"></i></div>
            <pa-deal-time-range [deal]="deal"></pa-deal-time-range>
          </div>
          <div *ngIf="!deal.isActive && deal.tag!=='suspended' && deal.tag!=='cancelled'"
               class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-money font-1_5"></i></div>
            <pa-deal-real-cost [deal]="deal"></pa-deal-real-cost>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-child font-1_5"></i></div>
            <div>
              <ng-container *ngIf="deal.children.length>1">{{deal.children.length}} детей: <br></ng-container>
              <ng-container *ngFor="let child of deal.children; let last=last; let i=index" class="pl-2">
                <es-child [child]="child"></es-child>
                <ng-container *ngIf="i<(deal.children.length-1)">,
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="pt-1 mb-2">
            <pa-deal-status-badge [deal]="deal"></pa-deal-status-badge>
          </div>
        </div>
      </div>
      <div class="flex justify-around">
        <div *ngIf="deal.isActive && !deal.startedAt" class="mx-1 f-grow-1">
          <button (click)="cancel(deal)" class="btn btn-block btn-attention btn-mini">
            Отменить
          </button>
        </div>
        <div *ngIf="deal.pendingPayment" class="mx-1 f-grow-1">
          <a [href]="deal.pendingPayment.checkoutUrl"
             class="btn btn-block btn-secondary btn-mini text-center"
             rel="noopener"
             style="line-height: 1.2"
             target="_blank">
            Оплатить
          </a>
        </div>
      </div>
    </es-info-block>
  </div>
</ng-container>
<ng-template #empty>
  <div class="px-4 py-5 text-center">
    <div class="p-10">
      <div class="toys-icon"></div>
    </div>
    <div class="px-7 text-large">
      <p>Здесь пока ничего нет.</p>
    </div>
  </div>
</ng-template>


<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-3x"></i>
  </div>
</ng-template>
