<div class="py-3 px-4 bg-white">
  <form (ngSubmit)="sendForm(text.value)" #form>
    <div class="flex">
      <div class="f-grow-1 pr-4">
        <input #text  type="text" class="rounded wide">
      </div>
      <div class="">
        <button class="btn btn-primary btn-mini btn-round"><i class="fa fa-arrow-up"></i></button>
      </div>
    </div>
  </form>
</div>
