<div [class.theme-dark]="isDarkTheme" class="screen-frame">
  <div class="app-container">
    <ng-content select="pre-header"></ng-content>
    <ng-content select="es-header"></ng-content>
    <div class="app-body flex flex-column">
      <div class="app-body-inner flex flex-column">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
