<ng-container *ngIf="(request$|async) as request">
  <div *chat="let chat forRequest request.request.id" class="chat flex flex-column f-grow-1">

    <div class="f-shrink-0">
      <div class="interlocutor py-2 px-4 bg-white flex align-center">
        <div class="f-shrink-0 pr-3">
          <div [style.background-image]="'url('+request.request.parent.photo+')'" class="userpic-round-10"></div>
        </div>
        <div class="f-grow-1">
          <div class="interlocutor-name">{{request.request.parent.name}}</div>
          <!--        <div class="last-seen">Сегодня в 11:21</div>-->
        </div>
      </div>
      <div class="py-2 px-4 bg-white flex align-center justify-between">
        <div class="color-dark-07"
             i18n="@@requestNumber">Запрос #{{request.request.id}}</div>
        <div>
          <button
            [routerLink]="['/request/', request.request.id]"
            class="btn btn-secondary btn-mini px-3 fs-0_5dn"
            i18n="linkToRequest|Go to request details@@requestDetailsLink"> Посмотреть детали
          </button>
        </div>
      </div>
    </div>

    <chat-message-box *ngIf="chat.messages.length else noMessages"
                      [messages]="chat.messages"
                      class="chat-conversation f-grow-1 p-4 mr-1 overflow-y-auto u-fancy-scrollbar">
      <chat-message
        *ngFor="let message of chat.messages"
        [class.mine]="message.isOwn"
        [message]="message"
        class="message">
      </chat-message>
    </chat-message-box>
    <div class="f-shrink-0">
      <chat-send-box (send)="chat.send($event, 3)"></chat-send-box>
    </div>
  </div>
</ng-container>
<ng-template #noMessages>
  <div class="f-grow-1 p-4 overflow-y-auto flex justify-center align-center">
    <div class="color-secondary border-radius-2 p-4 font-2 text-center">
      <p i18n="No messages in chat@@emptyChatMessages">Здесь пока пусто</p>
      <p i18n="Let user to send first message in chat@@newChatMessageCta">Напишите первое сообщение</p>
    </div>
  </div>
</ng-template>
