<ng-container *ngIf="searchResult|async as result; else loadingTpl">
  <ng-container *ngIf="result.nannies.length else emptyTpl">
    <div class="search-result-intro px-4 py-6">
      <div class="flex align-center pt-2">
        <div class="search-result-icon mx-7 f-shrink-0"></div>
        <div class="f-grow-1 pr-5" i18n>

          <strong>
            {{result.nannies.length}}
            {
              result.nannies.length,
              plural,
              =1 {няня}
              =2 {няни}
              =3 {няни}
              =4 {няни}
              other {нянь}
              }
          </strong> подходят под Ваши критерии поиска
        </div>
      </div>
    </div>

    <div class="px-4 pb-2">
      <div *ngFor="let nanny of (nannies|async);trackBy:trackById" class="nanny-card">
        <div class="side-col">
          <a [routerLink]="['nanny', nanny.id]">
            <es-profile-photo [name]="nanny.name" [src]="nanny.photo"></es-profile-photo>
          </a>
        </div>
        <div class="f-grow-1">
          <h4 class="nanny-name"><a [routerLink]="['/nanny', nanny.id]"><span>{{nanny.name}}</span> | <span
            class="group">{{nanny.age}} лет</span></a></h4>
          <div class="nanny-achievements mb-2">
            <div class="item">
              <es-rating [rating]="4"></es-rating>
            </div>
            <div class="item">
              <i class="fa fa-handshake-o"></i> 1
            </div>
          </div>
          <div class="nanny-summary">{{nanny.description}}</div>
        </div>
      </div>

    </div>
    <div class="px-4 pb-4">
      <button (click)="proceed()" class="btn btn-secondary btn-block">Продолжить</button>
    </div>
  </ng-container>
</ng-container>
<ng-template #loadingTpl>
  <div class="align-center f-grow-1 flex flex-column">
    <div class="search-result-intro px-4 py-6">
      <div class="flex align-center pt-2">
        <div class="search-result-icon mx-7 f-shrink-0"></div>
        <div class="f-grow-1 pr-5" i18n>
          Ищем нянь под Ваши критерии поиска
        </div>
      </div>

    </div>
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>
</ng-template>
<ng-template #emptyTpl>
  <div class="search-result-intro px-4 py-6">
    <div class="flex align-center pt-2">
      <div class="search-result-icon mx-7 f-shrink-0"></div>
      <div class="f-grow-1 pr-5" i18n>
        Мы не нашли нянь под Ваши критерии поиска
      </div>
    </div>
  </div>
  <div class="px-4 pb-4">
    <button routerLink="/" class="btn btn-secondary btn-block">Назад</button>
  </div>
</ng-template>
