<div class="mb-2">
  <div class="flex py-1">
    <div class="f-grow-1">
      <h2 class="fs-2 fw-500 ">Вы хотите продолжить? </h2>
    </div>
    <div class="f-shrink-0 modal-close ml-2" mat-dialog-close=""></div>
  </div>
  <div mat-dialog-content>
    Это действие невозможно отменить
  </div>
  <div class="py-2" mat-dialog-actions="">
    <button (click)="confirm()" class="btn btn-mini btn-block btn-attention">
      Подтвердить
    </button>
  </div>
</div>
