<div class="profile">
  <div [style.background-image]="'url('+background+')'" class="profile-cover"></div>
  <div class="px-4">
    <div class="user-picture">
      <div [style.background-image]="'url('+photo+')'" class="photo"></div>
    </div>
    <ng-content select=".profile-title"></ng-content>


    <div class="flex align-end mb-5">
      <div class="f-grow-1 ">
        <ng-content select=".rating"></ng-content>
      </div>
      <div class="f-shrink-0">
        <ng-content select=".more"></ng-content>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
