:host {
  position: relative;
}

.terminated {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.subscriber {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.publisher {
  position: absolute;
  width: 15rem;
  height: 10rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 100;
  border-radius: 3px;
}

.end-button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.end-button-container button {
  width: 5rem;
  height: 5rem;
  color: white;
  background: red;
  border: none;
  border-radius: 50%;
}
