<ng-container *ngIf="otSession as session">
  <div *ngIf="terminated" class="terminated">
    <p>
      Няня не может ответить в данный момент. Возможно она присматривает за
      ребенком.
    </p>
    <p>Попробуйте связаться с ней позже</p>
  </div>
  <videochat-videochat-publisher
    (errored)="handlePublisherError($event)"
    *ngIf="connected"
    [session]="session"
    class="publisher"
  ></videochat-videochat-publisher>

  <videochat-videochat-subscriber
    *ngIf="!terminated"
    [session]="session"
    (setup)="connect(session)"
    class="subscriber"
  ></videochat-videochat-subscriber>

  <div class="end-button-container">
    <button (click)="destroy()">
      <i class="fa fa-phone fa-2x"></i>
    </button>
  </div>
</ng-container>
<div>{{ error }}</div>
