<div class="flex flex-column" style="height: 100%">
  <h1 class="page-title">Вход</h1>
  <div class="f-grow-1 flex flex-column justify-center">
    <form (ngSubmit)="login()" [formGroup]="form">
      <div class="mb-6">
        <div class="info-block py-5 px-4">
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Логин:</label>
              <div class="form-control"><input formControlName="login" placeholder="Введите ваш логин" type="text"/>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <label class="form-label">Пароль:</label>
              <div class="form-control"><input formControlName="password" placeholder="Введите ваш пароль"
                                               type="password"/></div>
            </div>
          </div>

          <div class="text-center color-attention" *ngIf="error">{{error}}</div>
        </div>
        <div [ngSwitch]="loading|async" class="p-4 py-3">
          <button *ngSwitchDefault [disabled]="form.invalid" class="btn btn-secondary btn-block">Войти</button>
          <div *ngSwitchCase="true" class="text-center"><i class="fa fa-spin fa-spinner fa-2x"></i></div>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center my-2">
    <a routerLink="/registration">Зарегистрироваться</a>
  </div>
</div>
