<div class="flex justify-between">
  <div class="mb-3">
    <h3 i18n>
      {{duration.hours}}
      {
        duration.hours,
        plural,
        =1 {час}
        =2 {часа}
        =3 {часа}
        =4 {часа}
        other {часов}
        }

      {{duration.minutes}} минут
    </h3>
  </div>
  <div class="mb-3">
    <h3>
      {{calculator.minRate|async|currency:'PLN':'symbol':'1.0-0'}}
      -
      {{calculator.maxRate|async|currency:'PLN':'symbol':'1.0-0'}}
      / час
    </h3>
  </div>
</div>
<div class="flex justify-between">
  <div class="mb-3"><h2>Итого:</h2></div>
  <div class="mb-3">
    <h2>
      {{calculator.minPrice|async|currency:'PLN':'symbol':'1.0-0'}}
      -
      {{calculator.maxPrice|async|currency:'PLN':'symbol':'1.0-0'}}
    </h2>
  </div>
</div>
