<ng-container *ngIf="(call|async) as videochat">
  <videochat-container (callEnded)="onCallEnded()" [session]="videochat.session" [token]="videochat.token"
                       class="f-grow-1">

  </videochat-container>
</ng-container>
