.app-header {
  .app-header-main {
    padding: $unit*2 $unit*4;
    height: 6.7rem;
    background: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include when-inside('.theme-dark') {
      background: transparent;
    }
  }

  .app-header-tools {
    flex-basis: 9.5rem;
    min-width: 9.5rem;
    display: flex;
    justify-content: flex-end;

    &:first-of-type {
      justify-content: flex-start;
    }

    .tool-item {
      margin: 0 0 0 2*$unit;
      display: flex;
      align-items: center;
      position: relative;

      .fa {
        font-size: 2.1rem;
        color: $dark;
        @include when-inside('.theme-dark') {
          color: $white;
        }
      }

      &.item-go-back {
        .fa {
          font-size: 2.5rem;
          line-height: 1;
          color: $gray-700;
          @include when-inside('.theme-dark') {
            color: $white-700;
          }
        }

        a {

        }
      }

      .count {
        border-radius: 50%;
        font-size: 1.0rem;
        line-height: .7;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        padding: .45rem;
        background: $attention;
        color: $white;
        position: absolute;
        right: -.6rem;
        top: -.2rem;
        z-index: 200;
        @include when-inside('.theme-dark') {
          /*border-color:$white-400;*/
        }
      }
    }

    &:first-of-type {
      .tool-item {
        margin: 0 2*$unit 0 0;
      }
    }
  }

  .app-header-brand {
    text-align: center;
    flex-grow: 1;
  }

  .logo {
    display: block;
    width: 12.1rem;
    height: 3.4rem;
    margin: .4rem auto 0;
    background: url(../images/logo.svg) no-repeat center center;
    background-size: contain;
    @include when-inside('.theme-dark') {
      background-image: url(../images/logo-white.svg);
    }
  }

  .nav-toggle {
    display: block;
    width: 2.4rem;
    margin-left: 1.4rem;

    &:before, &:after, i {
      content: ' ';
      display: block;
      height: .3rem;
      margin: .5rem 0;
      background: #000;
      @include when-inside('.theme-dark') {
        background: $white;
      }
    }
  }
}

.app-main-nav {
  position: absolute;
  z-index: 800;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity .2s ease;
  @include when-inside('.nav-on') {
    opacity: 1;
    transform: translateY(0);
  }

  .app-main-nav-inner {
    background: $white;
    box-shadow: 0 0 1.0rem 0 rgba(0, 0, 0, .25);
    margin-left: 5.7rem;
    padding: 2.0rem 1.0rem 2.0rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: all .2s ease;
    @include when-inside('.nav-on') {
      transform: translateX(0);
    }
  }

  ul {
    /*text-transform: uppercase;*/
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 3.0rem 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 1.4rem .6rem;
      position: relative;

      a {
        color: $dark;
        text-decoration: none;
      }

      .count {
        display: inline-block;
        vertical-align: middle;
        padding: .2rem .3rem;
        height: 2.1rem;
        min-width: 2.1rem;
        background: $attention;
        color: $white;
        border-radius: 50%;
        font-size: 1.4rem;
        line-height: 1.25;
        font-weight: 500;
        text-align: center;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .nav-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 3.6rem;
    line-height: 1;
    color: $secondary;
    transform: scale(1, 0);
    transition: all .15s ease .05s;
    @include when-inside('.nav-on') {
      transform: scale(1, 1);
    }
  }
}
