.chat {
  min-height: 0;
}

.interlocutor {
  .go-back {
    font-size: 1.7rem;

    a {
      color: $primary;
    }
  }

  .userpic {
    @include userpic-round(10);
  }

  .interlocutor-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: $dark;
  }

  .last-seen {
    font-size: 1.15rem;
  }
}

.chat-conversation {
  background: $gray-50;
  border-top: 1px solid rgba($gray-200, .7);
  border-bottom: 1px solid rgba($gray-200, .7);
  min-height: 15.0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .chat-conversation-content {
    /*margin-top:auto;*/
    max-height: 100%;
  }

  .date {
    text-align: center;
    font-size: 1.3rem;
    color: $gray-500;
  }

  .message {
    padding: $unit 0;
    margin-bottom: $unit;

    &.mine {

    }

    .message-body {
      display: inline-block;
      padding: $unit*2 $unit*3;
      max-width: 80%;
      margin-bottom: $unit;
      border-radius: .8rem;
      background-color: $gray-150;
      font-size: 1.4rem;
      color: $dark;
      text-align: left;
    }

    .message-time {
      font-size: 1.2rem;
      color: $gray-500;
    }

    &.mine {
      text-align: right;

      .message-body {
        background-color: $primary;
        color: $white;
      }

      .message-time {

      }
    }
  }
}

.chats-list {
  .chats-list-item {
    background-color: $white;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;

    &:active {
      background-color: $gray-50;
    }

    .userpic {
      @include userpic-round(12);
    }

    .name {
      font-size: 1.4rem;
      line-height: 1.2;
      /*font-weight: 500;*/
      color: $dark;
    }

    .date-time {
      font-size: 1.2rem;
      line-height: 1.2;
      color: $gray-500;
    }

    .message-brief {
      font-size: 1.2rem;
      color: $gray-400;
      max-height: 3.0rem;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &.unread {
      .name {
        font-weight: 500;
      }

      .message-brief {
        color: $dark;
        font-weight: 700;
      }

      .date-time {
        color: $dark;
        font-weight: 500;
      }
    }
  }
}
