$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
