.btn {
  display: inline-block;
  height: 4.8rem;
  padding: 1.4rem 2.0rem;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  letter-spacing: .02rem;
  border-width: .1rem;
  border-style: solid;
  border-color: $gray-600;
  color: $gray-600;
  border-radius: .5rem;

  &:hover {
    color: $gray-600;
  }

  &.btn-mini {
    height: 3.1rem;
    font-size: 1.4rem;
    letter-spacing: .01rem;
    padding: 0.5rem 2.0rem;
  }

  &.btn-block {
    display: block;
    min-width: 100%;
  }

  &.btn-round {
    border-radius: 50%;
    width: 4.8rem;
    padding: .4rem;

    &.btn-mini {
      width: 3.1rem;
    }
  }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover {
      background-color: rgba($primary, .85);
      border-color: rgba($primary, .85);
      color: $white;
    }
  }

  &.btn-primary-outline {
    background-color: transparent;
    border-color: $primary;
    border-width: .2rem;
    color: $primary;

    &:hover {
      background-color: rgba($primary, .1);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;

    &:hover {
      background-color: rgba($secondary, .85);
      border-color: rgba($secondary, .85);
      color: $white;
    }
  }

  &.btn-secondary-outline {
    background-color: transparent;
    border-width: .2rem;
    border-color: $secondary;
    color: $secondary;

    &:hover {
      background-color: rgba($secondary, .1);
    }
  }

  &.btn-attention {
    background-color: $attention;
    border-color: $attention;
    color: $white;

    &:hover {
      background-color: rgba($attention, .85);
      border-color: rgba($attention, .85);
      color: $white;
    }
  }

  &.btn-attention-outline {
    background-color: transparent;
    border-width: .2rem;
    border-color: $attention;
    color: $attention;

    &:hover {
      background-color: rgba($attention, .1);
    }
  }

  &.btn-default {
    background-color: transparent;
    border-color: $gray-500;
    color: $gray-500;
  }

  &[disabled] {
    opacity: .7;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 3.1rem;
  padding: $unit 4*$unit;
  background: $gray-50;
  border-width: .1rem;
  border-style: solid;
  border-color: $gray-50;
  color: $gray-700;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;

  &.rounded {
    border-radius: 1.5rem;
  }

  &.wide {
    min-width: 100%;
  }
}

.form {

}

.form-row {
  margin-left: -1*$unit;
  margin-right: -1*$unit;
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  padding-left: $unit;
  padding-right: $unit;
  margin-bottom: 4*$unit;
  flex-grow: 1;
  flex-basis: 30%;
}

.form-label {
  font-size: 1.3rem;
  color: $gray-500;
  display: block;
  padding-top: 2*$unit;
  margin-bottom: 1*$unit;
  @include when-inside('.theme-dark') {
    color: $white;
  }
}

.form-control {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    border-width: 0 0 .2rem;
    border-style: solid;
    border-color: $dark;
    width: 100%;
    padding: $unit 0;
    background: transparent;
    color: $dark;
    font-size: 1.6rem;
    transition: all 100ms ease;

    &:focus {
      /*border-color:$primary;*/
      background: rgba($primary, .1);
      /*padding-left:$unit;*/
    }

    @include placeholder() {
      color: $gray-200;
    }
    @include when-inside('.theme-dark') {
      color: $white;
      border-color: $white-500;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    height: 3.1rem;
    outline: none;
  }

  textarea {
    font-size: 1.4rem;
    padding: 2*$unit 0;
    resize: none;

    &:focus {
      outline: none;
      /*box-shadow:0 0 .3rem 0.1rem rgba($secondary,.5);*/
    }
  }

  &.not-valid {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      background: rgba($attention, .1);
      border-color: darken($attention, 20%);
      color: darken($attention, 25%);
    }
  }

  &.valid {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      background: rgba($success, .1);
      border-color: darken($success, 20%);
      color: darken($success, 25%);
    }
  }

  .note {
    display: none;
    margin-bottom: -2.5*$unit;
  }

  &.not-valid {
    .note {
      display: block;
      color: darken($attention, 25%);
    }
  }

  &.valid {
    .note {
      display: block;
      color: darken($success, 25%);
    }
  }
}
