@use '@angular/material' as mat;
@import 'variables';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-palette: (
  100: $gray-500,
  500: $secondary,
  700: $primary,
  A100: $red,
  A200: $yellow,
  A400: $attention,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
  )
);
$applications-nanny-application-primary: mat.define-palette($app-palette);
$applications-nanny-application-accent: mat.define-palette($app-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$applications-nanny-application-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$applications-nanny-application-theme: mat.define-light-theme($applications-nanny-application-primary, $applications-nanny-application-accent, $applications-nanny-application-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($applications-nanny-application-theme);
@include mat.datepicker-theme($applications-nanny-application-theme)
@include mat.button-theme($applications-nanny-application-theme)
@include mat.dialog-theme($applications-nanny-application-theme)

.modal-container {
  .mat-dialog-container {
    width: auto;
    height: auto;
    @extend .modal
  }
}

.timepicker {
  @extend .modal;
}

ngx-material-timepicker-content {
  @extend .modal-container;

  .timepicker {
    padding: 0;
    width: auto !important;
  }
}

.timepicker-overlay {
  z-index: 1100 !important;
}
