// =============================================================================
// Clearfix
// =============================================================================

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// =============================================================================
// Element's context management
// ============================================================================

@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

// =============================================================================
// Placeholder styles
// =============================================================================

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

// =============================================================================
// Media queries
// =============================================================================

@mixin mq-wide {
  @media (min-width: 1450px) {
    @content;
  }
}

@mixin mq-laptops {
  @media (max-height: 850px) and (min-height: 400px) and (min-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin mq-middle {
  @media (min-width: 1024px) and (max-width: 1180px) {
    @content;
  }
}

@mixin mq-small {
  @media (min-width: 981px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mq-mobile {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin mq-tablet-v {
  @media (min-width: 700px) and (max-width: 980px) {
    @content;
  }
}

@mixin mq-landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin mq-overwidth {
  @media (min-width: 1680px) {
    @content;
  }
}
