.modal-container {
  position: absolute;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3*$unit 2*$unit;
  background: rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal {
  margin: auto 2*$unit;
  background: $white;
  box-shadow: $box-shadow-lg;
  padding: 4*$unit;
}

.modal-header {

}

.modal-close {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon-modal-close.svg) no-repeat center center;
  background-size: contain;

  &:active {
    background-color: rgba($primary, .2);
    box-shadow: 0 0 0 0.4rem rgba($primary, .2);
  }
}
