.notifications {
  .notifications-item {
    background-color: $white;
    margin-bottom: .2rem;
    display: flex;

    &:active {
      background-color: $gray-50;
    }

    .icon {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      background: $gray-50;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 auto;
        background: url(../images/bell.svg) no-repeat center center;
        background-size: contain;
      }
    }

    .date-time {
      font-size: 1.2rem;
      color: $gray-400;
      letter-spacing: .01rem;
    }

    .title {
      font-size: 1.4rem;
      line-height: 1.3;
      /*letter-spacing: .01rem;*/
      color: $gray-600;
    }

    .flag {
      display: block;
      width: 1.0rem;
      height: 1.0rem;
      border-radius: 50%;
      align-self: center;
    }
  }
}
