.profile {
  .profile-cover {
    height: 17.0rem;
    background-size: cover;
    box-shadow: 0 0 .4rem 0 rgba(0, 0, 0, .1);
  }

  .user-picture {
    text-align: center;
    margin-top: -11rem;
    margin-bottom: 2*$unit;

    .photo {
      @include userpic-round(34.5);
      border: .3rem solid $white;
      box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .3);
    }
  }

  .profile-title {
    text-align: center;
    padding-top: 2*$unit;
    margin-bottom: 4*$unit;

    h1 {
      display: inline-block;
      margin: 0 0 0;
    }

    .user-id {
      display: inline-block;
      color: $secondary;
      font-size: 1.5rem;
    }
  }

  .profile-rating {
    font-size: 2.2rem;
  }

  .profile-age {
    text-align: center;

    strong {
      display: block;
      font-size: 2.0rem;
      font-weight: 500;
    }
  }
}

.nanny-features {
  .side-col {
    flex-basis: 8.5rem;
    min-width: 8.5rem;
  }

  .content {
    line-height: 1.4;
  }

  .price {
    font-size: 1.5rem;
    line-height: 1.4;

    strong {
      font-size: 140%;
    }
  }
}
