$unit: .4rem;

$font-family-primary: 'Roboto', sans-serif;

$font-size-basic: 1.4rem;
$font-size-smaller: $font-size-basic*0.9285714;
$font-size-l: $font-size-basic*1.14286;
$font-size-xl: $font-size-basic*1.42857;
$font-size-xxl: $font-size-basic*1.714285;

$font-size-step: .2rem;

$font-size-2-down: $font-size-basic - $font-size-step*2;
$font-size-1_5-down: $font-size-basic - $font-size-step*1.5;
$font-size-1-down: $font-size-basic - $font-size-step;
$font-size-0_5-down: $font-size-basic - $font-size-step/2;
$font-size-0: $font-size-basic;
$font-size-0_5: $font-size-basic + $font-size-step/2;
$font-size-1: $font-size-basic + $font-size-step;
$font-size-1_5: $font-size-basic + $font-size-step*1.5;
$font-size-2: $font-size-basic + $font-size-step*2;
$font-size-2_5: $font-size-basic + $font-size-step*2.5;
$font-size-3: $font-size-basic + $font-size-step*3;
$font-size-3_5: $font-size-basic + $font-size-step*3.5;
$font-size-4: $font-size-basic + $font-size-step*4;
$font-size-4_5: $font-size-basic + $font-size-step*4.5;
$font-size-5: $font-size-basic + $font-size-step*5;
$font-size-5_5: $font-size-basic + $font-size-step*5.5;
$font-size-6: $font-size-basic + $font-size-step*6;
$font-size-6_5: $font-size-basic + $font-size-step*6.5;
$font-size-7: $font-size-basic + $font-size-step*7;

$white: #ffffff;
$white-100: rgba($white, .1);
$white-150: rgba($white, .15);
$white-200: rgba($white, .2);
$white-300: rgba($white, .3);
$white-400: rgba($white, .4);
$white-500: rgba($white, .5);
$white-600: rgba($white, .6);
$white-700: rgba($white, .7);
$white-800: rgba($white, .8);
$white-900: rgba($white, .9);

$gray-50: #f6f6f6;
$gray-100: #eeeeee;
$gray-150: #ebebeb;
$gray-200: #c6c6c6;
$gray-300: #c4c4c4;
$gray-400: #bdbdbd;
$gray-500: #a1a1a1;
$gray-600: #8c8c8c;
$gray-700: #828282;

$dark: #000000;

$red: #E64B47;
$yellow: #FFC100;

$primary: #5fa1cb;
$secondary: #784d8d;
$success: #4BAE51;
$info: #70B6E2;
$attention: $red;

$body-color: $gray-600;

$box-shadow-base: 0 .1rem .2rem 0 rgba(150, 150, 150, .1);
$box-shadow-lg: 0 0 1.0rem rgba(0, 0, 0, 0.13);

:root {
  --white: #{$white};
  --dark: #{$dark};
  --red: #{$red};
  --yellow: #{$yellow};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --success: #{$success};
  --info: #{$info};
  --attention: #{$attention};
  --dial-background-color: #{$primary};
}
