.page-title {
  font-size: 2.0rem;
  line-height: 1.2;
  letter-spacing: .01rem;
  text-align: center;
  padding-top: 6*$unit;
  margin-bottom: 6*$unit;
}

.info-block {
  background: #fff;
  padding: $unit*2 $unit*4;
  margin-bottom: $unit*2;
  box-shadow: $box-shadow-base;
  @include when-inside('.theme-dark') {
    background: $white-100;
    box-shadow: 0 0 0 .1rem $white-500;
  }

  h2 {
    margin: $unit*4 0;
  }

  p {
    margin: $unit*4 0;
  }
}

@mixin userpic-round($size: 15) {
  display: inline-block;
  vertical-align: middle;
  width: $size*$unit;
  height: $size*$unit;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@for $i from 1 to 20 {
  .userpic-round-#{$i} {
    @include userpic-round($i);
  }
}

.rating {
  font-size: inherit;
  line-height: 1.2;

  .amount {
    display: inline-block;
    vertical-align: middle;
  }

  .stars {
    display: inline-block;
    vertical-align: middle;
    font-size: 76%;
    padding: 0 .2em;

    .fa {
      /*margin:auto -.1em;*/
    }
  }
}

.rate-widget {
  font-size: 3.5rem;
  color: $gray-400;

  .item {
    &.selected {
      color: $yellow;
    }
  }
}

.schedule {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-height: 4.6rem;
  margin-left: -.6rem;
  margin-right: -.6rem;

  .item {
    background: rgba($gray-200, .6);
    flex-grow: 1;
    margin: 0 .6rem;
    padding-top: 1*$unit;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: .05rem;
    /*color:$gray-700;*/
    text-align: center;

    &.working {
      background: rgba($primary, .8);
      color: $white;
    }
  }
}

.schedule-edit {
  .add-time {
    width: 33.3%;
    flex-basis: 33.3%;
  }
}

.counter {
  font-size: 2.5rem;
  color: $secondary;

  button {
    display: inline-block;
    vertical-align: middle;
    width: 3.0rem;
    height: 3.0rem;
    background: rgba($secondary, .1);
    border-color: rgba($secondary, .5);
    border-width: .1rem;
    font-size: 1.4rem;
    color: $secondary;
  }

  .value {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.5*$unit;
  }
}

.welcome-slider {
  position: relative;

  .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.slider-dots {
  .dot {
    display: inline-block;
    vertical-align: middle;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 .3rem;
    background-color: $gray-300;
    border-width: .2rem;
    border-style: solid;
    border-color: $gray-300;
    border-radius: 50%;
    transform: scale(.7);

    &.active {
      background-color: transparent;
      border-color: $secondary;
      transform: scale(1);
    }
  }
}

.search-result-intro {
  font-size: 1.6rem;

  .search-result-icon {
    width: 5.8rem;
    height: 4.7rem;
    background: url(../images/icon-search-result.svg) no-repeat center center;
    background-size: contain;
  }
}

.pass-recover-icon {
  display: inline-block;
  width: 4.5rem;
  height: 4.1rem;
  background: url(../images/pass-recover.svg) no-repeat center center;
  background-size: cover;
}

.nav-tabs {
  background: $white;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: .3rem solid $gray-200;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 $unit;

      a {
        display: block;
        padding: 2*$unit .2rem;
        text-decoration: none;
        border-bottom: .3rem solid transparent;
        margin-bottom: -.3rem;
      }

      &.active {
        a {
          border-color: $secondary;
        }
      }
    }
  }
}

.nav-filter {
  font-size: 1.4rem;
  font-weight: 400;

  ul {
    li {
      display: inline-block;
      margin: 0 2*$unit 0 0;
      opacity: .5;

      a {
        display: block;
        background: $primary;
        color: $white;
        padding: 1.5*$unit 2.6*$unit;
        border-radius: 5*$unit;
        white-space: nowrap;

        .count {
          display: inline-block;
          background: $white;
          color: $primary;
          border-radius: 50%;
          padding: .2rem;
          margin-left: $unit;
          font-size: 1.2rem;
          line-height: 1.2;
          min-width: 1.8rem;
          height: 1.8rem;
          text-align: center;
        }
      }

      &.active {
        opacity: 1;

        a {

        }
      }
    }
  }
}

.request-card {
  .side-col {
    flex-basis: 6.6rem;
    min-width: 6.6rem;
    flex-shrink: 0;
    text-align: center;
  }

  .request-date {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;

    strong {
      display: block;
      font-size: 195%;
      font-weight: 500;
    }
  }
}

.toys-icon {
  display: inline-block;
  width: 12.7rem;
  height: 8.1rem;
  background: url(../images/toys-icon.svg) no-repeat center center;
  background-size: cover;
}

.start-logo {
  width: 18.3rem;
  height: 5.2rem;
  margin: 0 auto;
  background: url(../images/logo-white.svg) no-repeat center center;
  background-size: cover;
}

.icon-clock {
  width: 4.2rem;
  height: 4.2rem;
  margin: 0 auto;
  background: url(../images/icon-clock.svg) no-repeat center center;
  background-size: cover;
}

.switchbox {
  min-width: 4.7rem;

  .label {
    display: block;
    position: relative;
    border-radius: 3.0rem;

  }

  .switchbox-inner {
    display: block;
    height: 2.7rem;
    background: $gray-300;
    border-radius: 3.0rem;
    position: relative;

    &:before {
      content: ' ';
      display: block;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background: $white;
      box-shadow: $box-shadow-lg;
      transition: all 110ms ease;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    + .switchbox-inner {

      &:before {

      }
    }

    &:checked {
      & + .switchbox-inner {
        background: $primary;

        &:before {
          left: 100%;
          transform: translateX(-100%);
        }
      }
    }
  }
}
