<div class="nav-tabs pt-1 f-shrink-0 d-desktop-none">
  <ul class="flex justify-around px-3">
    <li class="f-grow-1 text-center" routerLinkActive="active">
      <a routerLink="/requests">Запросы</a>
    </li>
    <li class="f-grow-1 text-center" routerLinkActive="active">
      <a routerLink="/deals">Визиты</a>
    </li>
  </ul>
</div>
<ng-container *ngIf="requests | async as requests; else loading">
  <div
    (swipeleft)="onSwipeLeft()"
    *ngIf="requests.length; else empty"
    class="px-2 mt-4 mb-5 f-grow-1 overflow-y-auto u-fancy-scrollbar"
  >
    <es-info-block
      *ngFor="let request of requests"
      class="request-card p-4 mb-3"
    >
      <div class="flex">
        <div class="side-col mr-3">
          <div
            class="request-date bg-secondary-01 color-secondary px-2 py-2 text-center"
          >
            <div>
              <strong>{{ request.date | date: 'd' }}</strong>
              {{ request.date | date: 'LLL' }}
            </div>
          </div>
        </div>
        <div class="f-grow-1">
          <div class="flex justify-between">
            <h3 class="font-1 lh-1_3 fw-500 mb-2 mr-1">
              Запрос #{{ request.id }}
            </h3>
            <div class="f-shrink-0 color-gray-300">
              <i
                (click)="toggle(request)"
                [class.fa-chevron-down]="!isToggled(request)"
                [class.fa-chevron-up]="isToggled(request)"
                class="fa"
              ></i>
            </div>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center">
              <i class="fa fa-calendar font-1_5"></i>
            </div>
            <es-visit-date [date]="request.date"></es-visit-date>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center">
              <i class="fa fa-clock-o font-1_5"></i>
            </div>
            {{ request.fromTime }} - {{ request.toTime }}
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center">
              <i class="fa fa-child font-1_5"></i>
            </div>
            <div>
              <ng-container *ngIf="request.children.length > 1"
                >{{ request.children.length }} детей: <br
              /></ng-container>
              <ng-container
                *ngFor="
                  let child of request.children;
                  let last = last;
                  let i = index
                "
                class="pl-2"
              >
                <es-child [child]="child"></es-child>
                <ng-container *ngIf="i < request.children.length - 1"
                  >,
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div>
            <button
              (click)="openCancelRequestDialog(request)"
              class="btn btn-attention-outline btn-mini"
            >
              Отменить
            </button>
          </div>
        </div>
      </div>
      <section>
        <h2 class="font-2 text-uppercase mb-4">Запросы няням</h2>
        <es-request-card *ngFor="let nrequest of request.nannyRequests">
          <div class="side-col mr-3">
            <es-profile-photo
              [src]="nrequest.nanny.photo"
              size="normal"
            ></es-profile-photo>
          </div>
          <div>
            <div class="flex">
              <h3
                [routerLink]="['/nanny', nrequest.nanny.id]"
                class="font-1 lh-1_3 fw-500 mb-2 mr-1"
              >
                {{ nrequest.nanny.name }} | {{ nrequest.nanny.age }} лет
              </h3>
            </div>
            <div>
              {{ nrequest.nanny.description }}
            </div>
            <div [ngSwitch]="nrequest.status" class="my-2">
              <span
                *ngSwitchCase="'closed'"
                class="d-iblock bg-attention-01 color-attention border-radius-4 py-1 px-3"
              >
                <i class="fa fa-close"></i>
                Отклонено няней
              </span>
              <span
                *ngSwitchCase="'new'"
                class="d-iblock bg-gray-100 border-radius-4 py-1 px-3"
              >
                <i class="fa fa-eye-slash"></i>
                Ожидает решения
              </span>
              <span
                *ngSwitchCase="'accepted'"
                class="d-iblock bg-success-01 color-success border-radius-4 py-1 px-3"
              >
                <i class="fa fa-handshake-o"></i>
                Обсуждение сделки
              </span>
            </div>
          </div>
          <es-request-card-actions *ngIf="nrequest.status === 'accepted'">
            <div class="px-1 f-grow-1 mb-2">
              <button
                [routerLink]="['/nanny', nrequest.nanny.id, 'chat']"
                class="btn btn-mini btn-secondary-outline btn-block px-1"
              >
                <i class="fa fa-commenting-o"></i>
              </button>
            </div>
            <div class="px-1 f-grow-1 mb-2">
              <button
                [routerLink]="['/nanny', nrequest.nanny.id, 'videochat']"
                class="btn btn-mini btn-secondary-outline btn-block px-1"
              >
                <i class="fa fa-video-camera"></i>
              </button>
            </div>
            <div class="px-1 f-grow-1 mb-2">
              <button
                (click)="createDeal(nrequest)"
                class="btn btn-mini btn-secondary btn-block"
              >
                Забронировать няню
              </button>
            </div>
          </es-request-card-actions>
        </es-request-card>
      </section>
    </es-info-block>
  </div>
</ng-container>
<ng-template #loading>
  <div class="text-center mt-4">
    <i class="fa fa-spin fa-spinner fa-3x"></i>
  </div>
</ng-template>
<ng-template #empty>
  <div class="text-center p-4 mt-4">
    <div class="font-2 mb-4">Нет активныех запросов</div>
    <a class="btn btn-secondary-outline btn-mini" routerLink="/search"
      >Найти няню</a
    >
  </div>
</ng-template>
<ng-template #cancelRequestConfirm let-context>
  <div class="mt-4">
    <div class="flex py-1">
      <div class="f-grow-1">
        <h2 class="fs-2 fw-500">Вы хотите удалить запрос?</h2>
      </div>
      <div class="f-shrink-0 modal-close ml-2" mat-dialog-close=""></div>
    </div>
    <div mat-dialog-content>
      Это действие невозможно отменить
    </div>
    <div class="py-2" mat-dialog-actions="">
      <button
        (click)="cancel(context.request)"
        class="btn btn-mini btn-block btn-attention"
        mat-dialog-close=""
      >
        Удалить
      </button>
    </div>
  </div>
</ng-template>
