.onboarding-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem;
  position: relative;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.onboarding-image-container:after {
  content: '';
  position: absolute;
  bottom: -1rem;
  height: 25%;
  width: 100%;
  background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 90%);
}
