<h1 class="page-title">Знакомство с системой</h1>
<es-slider (navigated)="navigated($event)" class="flex flex-column f-grow-1">
  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-01-1.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      Заполните свой профиль и укажите как вам удобней работать
    </div>
  </div>
  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-01-2.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      Заполните свой профиль и укажите как вам удобней работать
    </div>
  </div>
  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-01-3.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      Заполните свой профиль и укажите как вам удобней работать
    </div>
  </div>

  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-02.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      Получайте интересные предложения
      от родителей
    </div>
  </div>
  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-03.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      Выбирайте те предложения работы, которые полностью соответствуют вашим критериям
    </div>
  </div>
  <div *esSlide class="slide flex flex-column justify-between align-center">
    <div [style.background-image]="'url(assets/onboarding/on-bs-04.png)'"
         class="f-grow-1 onboarding-image-container"></div>
    <div class="text-center text-basic px-4 text-large color-dark">
      По окончанию визита получайте оплату напрямую из приложения
    </div>
  </div>
</es-slider>
<div class="p-4 text-center f-basis-mh-20 f-shrink-0">
  <button (click)="skip()" *ngIf="!tutorialFinished" class="btn btn-mini btn-default btn-link" routerLink="/">
    Пропустить
  </button>
  <button *ngIf="tutorialFinished" class="btn btn-mini btn-secondary btn-block" routerLink="/">Начать
  </button>
</div>
