<ng-container *ngIf="call|async as call">
  <videochat-container (callEnded)="onCallEnded()" [session]="call.session" [token]="call.token"
                       class="f-grow-1"></videochat-container>
</ng-container>
