<h2 class="text-center" mat-dialog-title>Забронировать няню?</h2>

<mat-dialog-content>
  <div class="request-card">
    <div class="flex">
      <div class="side-col">
        <es-profile-photo [src]="request.nanny.photo" size="small"></es-profile-photo>

        <div class="text-secondary mt-2">
          <strong>{{price|async|currency:'PLN':'code':'1.0-1'}}</strong>
        </div>
      </div>
      <div>
        <div class="flex">
          <h3 class="font-1 lh-1_3 fw-500 mb-2 mr-1">{{request.nanny.name}}</h3>
        </div>
        <div class="flex mb-1 color-gray-700">
          <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-calendar font-1_5"></i>
          </div>
          <es-visit-date [date]="request.request.date"></es-visit-date>
        </div>
        <div class="flex mb-1 color-gray-700">
          <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-clock-o font-1_5"></i></div>
          {{request.request.fromTime}} - {{request.request.toTime}}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="createDeal()" class="btn btn-mini btn-secondary mr-1">Да</button>
  <button (click)="close()" class="btn btn-mini btn-attention-outline">Нет</button>
</mat-dialog-actions>
