<ng-container *ngIf="request$|async as request; else loading">
  <div class="px-4 mb-5">
    <h1 class="page-title text-left mb-2"
        i18n="@@requestNumber">Запрос #{{request.request.id}}</h1>
    <div *ngIf="request.status==='new'" class="fs-1 text-secondary"
         i18n="Request waiting for confirmation@@requestStatusNew">Ожидает подтверждения
    </div>
  </div>

  <es-info-block [routerLink]="['/parent', request.request.parent.id]" class="py-4 px-4 mb-2">
    <div class="flex align-center">
      <div class="mr-4">
        <es-profile-photo [name]="request.request.parent.name"
                          [src]="request.request.parent.photo"
                          size="small"
        ></es-profile-photo>
      </div>
      <div class="f-grow-1">
        <h4 class="font-1 fw-500 mb-1">{{request.request.parent.name}}</h4>
      </div>
    </div>
  </es-info-block>

  <div class="info-block pt-6 pb-6 px-4 mb-2">

    <div class="fs-0_5dn color-gray-500" i18n="@@dateAndTime">Дата и время:</div>

    <div class="fs-5_5 lh-1_4 color-dark pt-2">
      <div>{{request.request.date| date:'d LLLL, EEEE'}}</div>
      <div>{{request.request.fromTime}} - {{request.request.toTime}}</div>
    </div>

  </div>


  <div class="info-block mb-2">
    <div class="form-row">
      <div class="form-item mb-1">
        <label class="form-label" i18n="@@children">Дети</label>
        <div class="children-list pt-3">
          <es-child-with-icon *ngFor="let child of request.request.children" [child]="child"></es-child-with-icon>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="request.request.wishes" class="info-block pt-5 mb-2">

    <h3 class="" i18n="@@wishes">Пожелания:</h3>

    <div [innerHTML]="request.request.wishes"></div>

  </div>
  <div class="info-block pt-5 mb-2">

    <h3 class="" i18n="@@address">Адрес:</h3>
    <div [innerHTML]="request.request.address"></div>

  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center"><i class="fa fa-2x fa-spin fa-spinner"></i></div>
</ng-template>
