<div *ngIf="nanny|async as profile" class="profile">
  <div class="profile-cover" style="background-image: url(assets/images/profile-cover-1.jpg)"></div>
  <div class="px-4 px-desktop-0">
    <div class="user-picture">
      <es-profile-photo [src]="profile.photo" class="photo"></es-profile-photo>
    </div>
    <div class="profile-title">
      <h1>{{profile.name}}</h1>
      <div class="profile-age">
        <div class="text-secondary">
          <strong class="d-iblock">{{profile.age}}&nbsp;</strong>
          <span class="font-0_5dn color-gray-400" i18n>лет</span>
        </div>
      </div>
    </div>
    <div class="info-block px-4 py-5">
      <div class="nanny-features">
        <div class="flex">
          <div class="side-col f-shrink-0 pr-3 text-center">
            <div class="price">
              <div class="text-primary "><strong>{{profile.price.value}}</strong>/час.</div>
            </div>
          </div>
          <div class="content f-grow-1">
            Стоимость складывается из:<br>
            графика работы, количества детей, наличия высшего образования и др.
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="profile.description" class="info-block">
      <h2>О себе</h2>
      <p>
        {{profile.description}}
      </p>
    </div>

    <es-info-block>
      <h2>Дополнительная информация</h2>
      <es-tiles class="tiles-column">
        <es-tiles-item *ngIf="profile.features.nosmoking" [class.inactive]="!profile.features.nosmoking">
          <i class="fa fa-smoking fa-2x mr-2"></i>
          <div class="tile-text">
            Не курящая
          </div>
        </es-tiles-item>
        <es-tiles-item *ngIf="profile.features.first_aid" [class.inactive]="!profile.features.first_aid">
          <i class="fa fa-medkit fa-2x mr-2"></i>
          <div class="tile-text">
            Первая помощь
          </div>
        </es-tiles-item>
        <es-tiles-item *ngIf="profile.features.driving_licence" [class.inactive]="!profile.features.driving_licence">
          <i class="fa fa-drivers-license fa-2x mr-2"></i>
          <div class="tile-text">
            Права
          </div>
        </es-tiles-item>
        <es-tiles-item *ngIf="profile.features.car" [class.inactive]="!profile.features.car">
          <i class="fa fa-car fa-2x mr-2"></i>
          <div class="tile-text">
            Машина
          </div>
        </es-tiles-item>
        <es-tiles-item *ngIf="profile.features.education" [class.inactive]="!profile.features.education">
          <i class="fa fa-2x mr-2 fa-graduation-cap"></i>
          <div class="tile-text">
            Профильный диплом
          </div>
        </es-tiles-item>
      </es-tiles>
    </es-info-block>
  </div>
</div>
