<div class="nav-filter mb-4">
  <ul class="flex justify-around">
    <li routerLinkActive="active">
      <a class="item" routerLink="../active">
        <ng-container i18n="@@dealNavigationTabActive">Активные</ng-container>
        <span class="count">{{active$|async}}</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="item" routerLink="../review">
        <ng-container i18n="@@dealNavigationTabPending">Отзывы</ng-container>
        <span class="count">{{pending$|async}}</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="item" routerLink="../history">
        <ng-container i18n="@@dealNavigationTabHistory">Закрытые</ng-container>
        <span class="count">{{history$|async}}</span>
      </a>
    </li>
  </ul>
</div>

<div (swiperight)="navigateToConversations()" *ngIf="deals$|async as deals" class="f-grow-1 overflow-y-auto u-fancy-scrollbar">
  <div *ngIf="deals.length; else empty" class="pb-5 ">
    <es-info-block *ngFor="let deal of deals" [routerLink]="['/visits', 'details', deal.id]"
                   class="request-card p-4 mb-3">
      <div class="flex">
        <div class="side-col mr-3">
          <es-profile-photo [routerLink]="['/parent', deal.parent.id]" [src]="deal.parent.photo"></es-profile-photo>
        </div>
        <div class="f-grow-1">
          <div [routerLink]="['/parent', deal.parent.id]" class="flex justify-between">
            <h3 [routerLink]="['/parent', deal.parent.id]"
                class="font-1 lh-1_3 fw-500 mb-2 mr-1">{{deal.parent.name}}</h3>
            <div class="f-shrink-0 color-gray-300">#{{deal.id}}</div>
          </div>

          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-calendar font-1_5"></i>
            </div>
            {{deal.date | date: 'd LLLL yyyy, EEEE'}}
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-clock-o font-1_5"></i></div>
            <na-deal-time-range [deal]="deal"></na-deal-time-range>
          </div>
          <div *ngIf="!deal.isActive && deal.tag!=='suspended' && deal.tag!=='cancelled'"
               class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-money font-1_5"></i></div>
            <na-deal-real-cost [deal]="deal"></na-deal-real-cost>
          </div>
          <div class="flex mb-1 color-gray-700">
            <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-child font-1_5"></i></div>
            <div>
              {{deal.children.length}}
              <ng-container i18n="@@childrenCount">{
                deal.children.length,
                plural,
                =1 {ребенок}
                other {детей}
                }</ng-container>
              <br>
              <ng-container *ngFor="let child of deal.children; let last=last; let i=index" class="pl-2">
                <es-child [child]="child"></es-child>
                <ng-container *ngIf="i<(deal.children.length-1)">,
                </ng-container>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="!deal.isActive">
            <div class="pt-1 mb-2">
              <na-deal-status-badge [deal]="deal"></na-deal-status-badge>
            </div>
            <ng-container *ngIf="deal.tag !== 'suspended' && deal.tag!=='closed'">
              <ng-container *ngIf="deal.review; else reviewButton">
                <div class="pt-1 flex color-gray-700 font-0_5">
                  <div class="mr-2" i18n="@@userReviewRating">Ваша оценка:</div>
                  <es-rating [rating]="deal.review.rating" [showText]="true"></es-rating>
                </div>
              </ng-container>
              <ng-template #reviewButton>
                <div class="pt-2">
                  <button class="btn btn-secondary btn-mini" i18n="@@linkToAddReview">Оставить отзыв</button>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </es-info-block>
  </div>
</div>
<ng-template #empty>
  <div (swiperight)="navigateToConversations()" class="px-4 pb-5 text-center">
    <div class="p-10">
      <div class="toys-icon"></div>
    </div>
    <div class="px-7 text-large">
      <p i18n="visit list is empty@@emptyVisitListHeading">Здесь пока ничего нет.</p>
    </div>
  </div>
</ng-template>
