<ng-container>
  <input #fileInput (change)="uploadDocument($event)" [style.display]="'none'" type="file">
  <button (click)="fileInput.click()" [disabled]="isLoading() || isDisabled" class="btn btn-default btn-mini"
          type="button">
    Выбрать файл
  </button>
</ng-container>
