<div class="f-grow-1">
  <div class="pt-3 pb-1">
    <h1 class="page-header fs-7 fw-500 text-center m-0">Поиск няни</h1>
  </div>
  <div class="fs-1 text-center py-3 px-8 mb-2">
    <div class="px-10">
      Найдите идеальную няню
      для своих детей!
    </div>
  </div>
  <form (ngSubmit)="runSearch()" [formGroup]="form">
    <div class="bg-white-02 py-4 px-3">
      <pa-search-datetime-selector [formGroup]="form"
                                   [minDate]="minDate"
                                   [minutesGap]="minutesGap"></pa-search-datetime-selector>
    </div>
    <div class="px-4 pt-2 px-desktop-0">

      <div class="children-list">
        <es-child-with-icon
          (click)="removeChild(idx)"
          *ngFor="let child of children.value; let idx = index"
          [child]="child"
        ></es-child-with-icon>
        <div (click)="openChildSelector(childSelector)" *ngIf="children.value.length" class="add-item">
          <div class="inner">
            <div class="icon"><i></i></div>
            <div class="caption">Добавить</div>
          </div>
        </div>

        <div (click)="openChildSelector(childSelector)" *ngIf="!children.value.length" class="add-first mt-1 mb-3">
          Указать количество и возраст детей
        </div>
      </div>
    </div>
    <div class="px-4 py-2 px-desktop-0">
      <button *ngIf="!searching"
              [disabled]="form.invalid"
              class="btn btn-primary btn-block">Найти няню
      </button>
      <div *ngIf="searching" class="text-center">
        <i class="fa fa-spin fa-spinner fa-2x"></i>
      </div>
    </div>

  </form>
</div>
<ng-template *notAuthenticated>
  <div class="p-5 pt-2 text-center">
    <button (click)="login()" class="btn btn-mini btn-link color-white">Войти</button>
  </div>
</ng-template>
<ng-template #childSelector>
  <div class="modal-body">
    <div class="children-list">
      <es-child-with-icon (click)="selectChild(0)" [child]="0"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(1)" [child]="1"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(2)" [child]="2"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(3)" [child]="3"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(4)" [child]="4"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(5)" [child]="5"></es-child-with-icon>
    </div>
  </div>
</ng-template>
