::ng-deep {
  pa-search-datetime-selector {
    .date-picker-actions {
      display: none !important;
    }

    .ngb-tp-spacer {
      font-size: 2rem !important;
    }

    .ngb-tp-input {
      border: 0;
      background: transparent;
      font-size: 2rem !important;
      color: var(--white);
      padding-left: 0;
      padding-right: 0;
    }

    .day-list-item {
      border-color: var(--white) !important;
      color: var(--white) !important;
    }

    .day-list-item.active {
      background-color: var(--primary) !important;
      color: var(--white) !important;
    }
  }
}
