<form (ngSubmit)="createRequest()" *ngIf="searchResult|async as result" [formGroup]="form">
  <h1 class="page-title">Детали запроса</h1>

  <div class="info-block">
    <h2 class="fw-500 text-center">
      <es-visit-date [date]="result.date"></es-visit-date>
    </h2>
  </div>

  <div class="flex mb-3">
    <div class="f-grow-1 mr-1">
      <div class="info-block pt-3">
        <div class="text-center">
          Начало:
          <h2 class="fw-500 mt-2 mb-1">{{result.fromTime}}</h2>
        </div>
      </div>
    </div>
    <div class="f-grow-1 ml-1">
      <div class="info-block pt-3">
        <div class="text-center">
          Конец:
          <h2 class="fw-500 mt-2 mb-1">{{result.toTime}}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="info-block mb-5">
    <div class="form pt-1">
      <div class="form-row">
        <div class="form-item">
          <label class="form-label">Адрес:</label>
          <div [class.not-valid]="showErrors && form.get('address').errors" class="form-control">
            <input formControlName="address" name="address" type="text">
            <ng-container *ngIf="form.get('address').errors">
              <span *ngIf="form.get('address').hasError('required')" class="note">
                Укажите адрес
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-item">
          <label class="form-label">ZIP:</label>
          <div [class.not-valid]="showErrors && form.get('zipCode').errors" class="form-control">
            <input formControlName="zipCode" name="zipCode" type="text">
            <ng-container *ngIf="form.get('zipCode').errors">
              <span *ngIf="form.get('zipCode').hasError('required')" class="note">
                Укажите ZIP код
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-item">
          <label class="form-label">Телефон:</label>
          <div [class.not-valid]="showErrors && form.get('phone').errors" class="form-control">
            <input formControlName="phone" name="phone" type="text">
            <ng-container *ngIf="form.get('phone').errors">
              <span *ngIf="form.get('phone').hasError('required')" class="note">
                Укажите телефон
              </span>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="info-block mb-5">
    <div class="form-row">
      <div class="form-item mb-1">
        <label class="form-label">Дети</label>
        <div class="children-list pt-3">
          <es-child-with-icon *ngFor="let child of result.children" [child]="child">

          </es-child-with-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="info-block mb-5">
    <div class="form pt-1">
      <div class="form-row">
        <div class="form-item">
          <label class="form-label">Пожелания:</label>
          <div class="form-control">
            <textarea [cdkAutosizeMinRows]="3" [cdkTextareaAutosize]="true" formControlName="wishes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-block mb-5">
    <div class="form pt-1">
      <div class="form-row">
        <div class="form-item">
          <label class="form-label">Запросы няням:</label>
          <div class="flex align-center justify-between pt-2">
            <div class="f-shrink-0">
              <h2 class="my-1">
                {{selector.getSelectedCount()|async}}
                {
                  selector.getSelectedCount()|async,
                  plural,
                  =1 {няня}
                  =2 {няни}
                  =3 {няни}
                  =4 {няни}
                  other {нянь}
                  }
              </h2>
            </div>
            <div class="">
              <div *ngIf="(selector.getSelected()|async) as nannies" class="flex align-center">
                <ng-container *ngFor="let nanny of nannies; let idx=index">
                  <es-profile-photo
                    *ngIf="idx<4"
                    [name]="nanny.name"
                    [src]="nanny.photo"
                    class="ml-1"
                    size="small"
                  ></es-profile-photo>
                </ng-container>
                <div *ngIf="nannies.length>4" class="userpic-round-9 ml-1 p-relative">
                  <div class="p-center"><i class="fa fa-ellipsis-h"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 pb-5">
    <button *ngIf="!inProgress; else spinner" class="btn btn-secondary btn-block">
      Отправить запрос
    </button>
  </div>
</form>
<ng-template #spinner>
  <div class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
</ng-template>
