<div *naCurrentCounters="let counters" class="nav-tabs pt-1 mb-4 d-desktop-none">
  <ul class="flex justify-around px-3">
    <li class="f-grow-1 text-center" routerLinkActive="active"><a routerLink="/conversations">
      <ng-container i18n="@@conversations">Переговоры</ng-container>
      ({{counters.conversations}})</a></li>
    <li class="f-grow-1 text-center" routerLinkActive="active"><a routerLink="/visits">
      <ng-container i18n="@@visits">Визиты</ng-container>
      ({{counters.visits}})</a></li>
  </ul>
</div>
<div class="mt-4 mb-2 na-lists-layout-content overflow-y-auto u-fancy-scrollbar">
  <router-outlet></router-outlet>
</div>
