<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div class="text-center">
    <ng-content></ng-content>
    <es-rating-input formControlName="rating"></es-rating-input>
  </div>
  <div class="pt-1">
    <h2 class="font-2 fw-500 flex align-center">
      <span class="font-6 mr-2"><i class="fa fa-thumbs-o-up"></i></span>
      Что понравилось:
    </h2>
    <div>
      <div class="form-control">
        <textarea cdkTextareaAutosize formControlName="pros"></textarea>
      </div>
    </div>
  </div>
  <div class="pt-1">
    <h2 class="font-2 fw-500 flex align-center">
      <span class="font-6 mr-2"><i class="fa fa-thumbs-o-down"></i></span>
      Что не понравилось:
    </h2>
    <div>
      <div class="form-control">
        <textarea cdkTextareaAutosize formControlName="cons"></textarea>
      </div>
    </div>
  </div>
  <div class="text-center my-3">
    <button class="btn btn-block btn-secondary">Отправить оценку</button>
  </div>
</form>

