<ng-container *ngIf="(request$|async) as request">
  <div *chat="let chat forRequest request.request.id withNanny request.nanny.id"
       class="chat flex flex-column f-grow-1 mt-4">
    <div class="f-shrink-0">
      <div class="interlocutor py-2 px-4 bg-white flex align-center">
        <div class="f-shrink-0 pr-3">
          <div class="userpic-round-10" style="background-image: url(assets/images/funny-bday-cat.jpg)"></div>
        </div>
        <div class="f-grow-1">
          <div class="interlocutor-name">{{request.nanny.name}}</div>
          <!--        <div class="last-seen">Сегодня в 11:21</div>-->
        </div>
      </div>
      <div class="py-2 px-4 bg-white flex align-center justify-between">
        <div class="color-dark-07">Запрос #{{request.request.id}}</div>
        <div *ngIf="false">
          <button [routerLink]="['/request/', request.request.id]" class="btn btn-secondary btn-mini px-3 fs-0_5dn">
            Посмотреть
            детали
          </button>
        </div>
      </div>
    </div>
    <chat-message-box *ngIf="chat.messages.length else noMessages"
                      [messages]="chat.messages"
                      class="chat-conversation f-grow-1 p-4 overflow-y-auto">
      <chat-message
        *ngFor="let message of chat.messages"
        [class.mine]="message.isOwn"
        [message]="message"
        class="message">
      </chat-message>
    </chat-message-box>
    <div class="f-shrink-0">
      <chat-send-box (send)="chat.send($event, 3)"></chat-send-box>

      <div class="p-4 px-desktop-0">
        <button (click)="createDeal(request)" class="btn btn-secondary btn-block">
          Забронировать няню
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noMessages>
  <div class="f-grow-1 p-4 overflow-y-auto flex justify-center align-center">
    <div class="color-secondary border-radius-2 p-4 font-2 text-center">
      <p>Здесь пока пусто</p>
      <p>Напишите первое сообщение</p>
    </div>
  </div>
</ng-template>
