.switchbox {
  min-width: 3rem;
}

.switchbox .switchbox-inner {
  height: 1.75rem;
  border-radius: 2rem;
}

.switchbox .switchbox-inner:before {
  width: 1.75rem;
  height: 1.75rem;
}

.switchbox input[type="checkbox"]:checked + .switchbox-inner {
  background: #784d8d;
  background: var(--secondary);
}
