<h1 class="page-title" i18n="@@profile">Профиль</h1>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="profile pb-2">

    <div class="info-block mb-5">
      <div class="form pt-1">
        <div class="form-row">
          <div class="form-item">
            <label class="form-label" i18n="profile name label">Имя:</label>
            <div class="form-control">
              <input class="" formControlName="first_name" placeholder="" type="text">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label" i18n="profile birth date label">Дата рождения:</label>
            <div class="form-control p-relative">
              <na-date-picker formControlName="birth_date"></na-date-picker>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label" i18n="profile phone label">Телефон:</label>
            <div class="form-control">
              <input class="" formControlName="phone" placeholder="" type="text">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-item">
            <label class="form-label" i18n="profile photo label">Фото:</label>
            <div class="flex justify-between align-center pt-2">
              <div>
                <es-profile-photo [src]="form.value.photo" size="large"></es-profile-photo>
              </div>
              <div *ngIf="photoUploading; else selectPhoto">
                Загружается...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block mb-5">
      <h2 i18n="profile about myself heading">О себе:</h2>
      <div class="form-row">
        <div class="form-item">
          <div class="form-control">
            <textarea cdkTextareaAutosize class="" formControlName="about"
                      i18n-placeholder="about myself placeholder"
                      placeholder="Расскажите о себе"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div *naHasRole="'verified'" class="info-block mb-5">
      <p i18n="profile schedule heading">Рабочие дни:</p>
      <div class="schedule mb-5">
        <div *ngFor="let day of schedule.controls" [class.working]="day.value.items.length"
             class="item">{{day.value.day}}</div>
      </div>
      <div class="schedule-edit" formArrayName="schedule">
        <na-schedule-day *ngFor="let row of schedule.controls; let i = index" [formControlName]="i"></na-schedule-day>
      </div>
    </div>

    <div class="info-block pt-5 pb-3 mb-5">
      <h3 i18n="profile pricing heading">Стоимость работы ($ / час):</h3>
      <div class="form">
        <div class="form-row">
          <div class="form-item">
            <label class="form-label" i18n="profile working visit label">Рабочий визит:</label>
            <div class="form-control"><input formControlName="rate" type="text" value="9"/></div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block pt-5 pb-4">
      <h3 i18n="profile working conditions heading">Условия работы:</h3>
      <p class="mb-2" i18n="profile maximum children count label">Максимальное количество детей:</p>
      <div class="counter">
        <button (click)="decMaxChildrenCount()" class="" type="button"><i class="fa fa-minus"></i></button>
        <span class="value">{{form.value.maxChildrenCount}}</span>
        <button (click)="incMaxChildrenCount()" class="" type="button"><i class="fa fa-plus"></i></button>
      </div>
      <p i18n="profile children ages label">Возрастная категория:</p>
      <div class="children-list" formArrayName="ageCategories">
        <ng-container *ngFor="let child of ageCategories.controls; let i = index" [formGroupName]="i">
          <es-child-with-icon [child]="child.value.type" esChildSelectable
                              formControlName="selected"></es-child-with-icon>
        </ng-container>
      </div>
    </div>
    <div class="info-block">
      <h3 i18n="profile KRK certificate label">Сертификат КRК</h3>
      <div class="form-row f-grow-1">
        <div class="form-item mx-1">
          <ng-container *ngTemplateOutlet="fileUpload; context:{document: 'krk'}"></ng-container>
        </div>
      </div>
    </div>
    <div class="info-block">
      <h3 i18n="profile additional info heading">Дополнительные сведения</h3>
      <p i18n="profile additional info subheading">
        Укажите дополнительные сведения, которые помогут родителям вам выбрать
      </p>
      <es-tiles class="tiles-column" formGroupName="features">
        <es-tiles-item esTileSelectable formControlName="nosmoking">
          <div class="icon">
            <i class="fa fa-2x mr-2 fa-smoking"></i>
          </div>
          <div class="tile-text" i18n="check if no smocking@@nosmoking">Не курящая</div>
        </es-tiles-item>
        <es-tiles-item esTileSelectable formControlName="first_aid">
          <div class="icon">
            <i class="fa fa-2x mr-2 fa-medkit"></i>
          </div>
          <div class="tile-text" i18n="check first aid feature@@first_aid">Первая помощь</div>
        </es-tiles-item>
        <es-tiles-item *ngIf="form.get('features').get('first_aid').value">
          <div class="form-row f-grow-1">
            <div class="form-item mx-1">
              <label class="form-label text-left" i18n="Upload file@@first_aid_diploma">Сертификат первой помощи</label>
              <ng-container
                *ngTemplateOutlet="fileUpload; context:{ document: 'first_aid_diploma'}">
              </ng-container>
            </div>
          </div>
        </es-tiles-item>
        <es-tiles-item esTileSelectable formControlName="driving_licence">
          <div class="icon">
            <i class="fa fa-2x mr-2 fa-drivers-license"></i>
          </div>
          <div class="tile-text" i18n="Check if has driving licence@@has_driving_licence">Права</div>
        </es-tiles-item>
        <es-tiles-item *ngIf="form.get('features').get('driving_licence').value">
          <div class="form-row f-grow-1">
            <div class="form-item mx-1">
              <label class="form-label text-left" i18n="Upload driving licence@@driving_licence">Водительское
                удостоверение</label>
              <ng-container
                *ngTemplateOutlet="fileUpload; context:{document: 'driving_licence'}">
              </ng-container>
            </div>
          </div>
        </es-tiles-item>
        <es-tiles-item esTileSelectable formControlName="car">
          <div class="icon">
            <i class="fa fa-2x mr-2 fa-car"></i>
          </div>
          <div class="tile-text" i18n="Check if has car@@has_cat">Машина</div>
        </es-tiles-item>
        <es-tiles-item esTileSelectable formControlName="education">
          <div class="icon">
            <i class="fa fa-2x mr-2 fa-graduation-cap"></i>
          </div>
          <div class="tile-text" i18n="Check if has profile education@@has_education"> Профильный диплом</div>
        </es-tiles-item>
        <es-tiles-item *ngIf="form.get('features').get('education').value">
          <div class="form-row f-grow-1">
            <div class="form-item mx-1">
              <label class="form-label text-left" i18n="Upload profile education@@education_certificate">Сертификат
                профильного образования</label>
              <ng-container
                *ngTemplateOutlet="fileUpload; context:{document: 'education_certificate'}">
              </ng-container>
            </div>
          </div>
        </es-tiles-item>
      </es-tiles>
    </div>
    <div class="info-block">
      <h3 i18n="@@preferredDistrictsHeading">Предпочтительные районы</h3>
      <p i18n="@@preferredDistrictsSubheading"> Отметьте районы, в которых вы хотите получать заказы </p>
      <div class="flex align-center justify-between py-1 mb-2">
        <i
          (click)="districtsCollapsed=!districtsCollapsed"
          [class.fa-chevron-down]="districtsCollapsed"
          [class.fa-chevron-up]="!districtsCollapsed"
          class="mr-3 pb-1 fa"
        ></i>
        <div
          (click)="districtsCollapsed=!districtsCollapsed"
          *ngIf="districtsChecked|async as checked"
          class="f-grow-1 fs-0_5"
          i18n="@@districtsSelectedOf"> Выбрано {{checked.checked}} из {{checked.all}}
        </div>
        <div>
          <div class="switchbox">
            <label>
              <input (change)="toggleAllDistricts($event)" [checked]="allDistrictsChecked|async" type="checkbox">
              <span class="switchbox-inner"></span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="!districtsCollapsed" formArrayName="districts">
        <div *ngFor="let control of districts.controls" [formGroup]="control" class="mb-2">
          <div class="flex align-center justify-between py-1">
            <div>{{control.get('title').value}}</div>
            <div>
              <div class="switchbox">
                <label>
                  <input formControlName="isSelected" type="checkbox">
                  <span class="switchbox-inner"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 px-4">
      <button [disabled]="form.invalid" class="btn btn-secondary btn-block" i18n="@@save" type="submit">Сохранить
      </button>
    </div>

  </div>
</form>
<ng-template #guessUpload>
  <ng-container i18n="@@guessUploadFile">Загрузите файл</ng-container>
</ng-template>
<ng-template #uploadingTpl>
  <i class="fa fa-spin fa-spinner fa-2x"></i>
</ng-template>
<ng-template #fileUpload let-document="document" let-feature="feature">
  <div [formGroup]="form.get('documents')" class="flex justify-between align-center pt-2">
    <div>
      <ng-container *ngIf="!upload.isLoading() else uploadingTpl">
        <a *ngIf="form.get('documents').get(document).value else guessUpload"
           [href]="form.get('documents').get(document).value" target="_blank">
          <div class="flex align-center">
            <i class="fa fa-file-o fa-2x mr-2 "></i>
            <ng-container i18n="open file link@@viewFileByLink">Смотреть</ng-container>
          </div>
        </a>
      </ng-container>
    </div>
    <div>
      <es-file-upload #upload [formControlName]="document"></es-file-upload>
    </div>
  </div>
</ng-template>

<ng-template #selectPhoto>
  <input #photo (change)="updatePhoto($event)" [style.display]="'none'" accept="image/jpeg, image/png"
         type="file">
  <button (click)="photo.click()" class="btn btn-default" i18n="select photo button" type="button">Выбрать
    фото
  </button>
</ng-template>
