<div *ngFor="let nanny of nannies;trackBy:trackById" [class.selected]="isSelected(nanny)" class="nanny-card">
  <div class="side-col">
    <a [routerLink]="['nanny', nanny.id]">
      <es-profile-photo [name]="nanny.name" [src]="nanny.photo"></es-profile-photo>
    </a>
    <div class="price py-1"><strong>
      {{nanny.rate|currency:'PLN':'symbol':'1.0-0'}}</strong>/час
    </div>
  </div>
  <div class="f-grow-1">
    <div (click)="toggleNannySelection(nanny)" class="select-flag"></div>
    <h4 class="nanny-name"><a [routerLink]="['/nanny', nanny.id]"><span>{{nanny.name}}</span> | <span
      class="group">{{nanny.age}} лет</span></a></h4>
    <div class="nanny-achievements mb-2">
      <div class="item">
        <es-rating [rating]="4"></es-rating>
      </div>
      <div class="item">
        <i class="fa fa-handshake-o"></i> 1
      </div>
    </div>
    <div class="nanny-summary">{{nanny.description}}</div>
  </div>
</div>
