<div class="flex align-start">
  <div class="mr-4">
    <es-profile-photo [name]="name" [src]="photo"></es-profile-photo>
    <ng-content select=".important"></ng-content>
  </div>
  <div class="f-grow-1">
    <ng-content></ng-content>
  </div>
  <div>
    <ng-content select=".actions"></ng-content>
  </div>
</div>
