<es-layout>
  <pa-pwa-wrapper ngProjectAs="pre-header"></pa-pwa-wrapper>
  <es-header #headerComponent>
    <nav>
      <div *notAuthenticated class="color-gray-500 fs-2 mx-2">
        <div class="">Для доступа к другим функциям нужно войти</div>
        <div class="toys-icon my-4"></div>
        <p class="mt-2">
          <button (click)="login()" class="btn btn-secondary btn-mini ">
            <i class="menu-icon fa fa-sign-in"></i>
            Войти
          </button>
        </p>
        <p>
          <a class="btn btn-link btn-mini" routerLink="/onboarding"><i class="menu-icon fa fa-graduation-cap"></i> К
            обучению</a>
        </p>
      </div>
      <ul>
        <ng-container *isAuthenticated>
        <li>
          <a routerLink="/requests"><i class="menu-icon fa fa-commenting-o"></i> Запросы</a>
        </li>
        <li>
          <a routerLink="/search"><i class="menu-icon fa fa-search"></i> Поиск</a>
        </li>
        <li>
          <a routerLink="/chat"><i class="menu-icon fa fa-commenting"></i> Чаты</a>
          <span *ngIf="totalUnseen|async as count" class="count">{{count}}</span>
        </li>
        <li>
          <a routerLink="/profile"><i class="menu-icon fa fa-user-o"></i> Профиль</a>
        </li>
        <li>
          <a routerLink="/onboarding"><i class="menu-icon fa fa-graduation-cap"></i> К обучению</a>
        </li>
        <li>
          <a (click)="logout()"><i class="menu-icon fa fa-sign-out"></i> Выйти</a>
          </li>
        </ng-container>
        <li>
          <a carrotOpenChat><i class="menu-icon fa fa-comments-o"></i> Чат поддержки</a>
        </li>
      </ul>
    </nav>

    <ng-container *ngIf="isShowNav|async" ngProjectAs="desktop-nav">
      <div *isAuthenticated class="app-desktop-nav-user pt-7 mb-3">
        <div *ngIf="profile|async as profile" class="flex mb-1">
          <div class="f-shrink-0 mr-2">
            <div [style.background-image]="'url('+profile.photo+')'" class="userpic-round-6"></div>
          </div>
          <div class="f-grow-1 font-0_5dn lh-1_2">
            <div class="name">{{profile.name}}</div>
            <!--            <div class="id">ID: 2354</div>-->
          </div>
        </div>
        <div class="pl-8">
          <a (click)="logout()" routerLink="."><i class="fa fa-sign-out"></i> Выйти</a>
        </div>
      </div>
      <div *notAuthenticated class="text-center">
        <div class="">Для доступа к другим функциям нужно войти</div>
        <p class="mt-2">
          <button (click)="login()" class="btn btn-secondary btn-mini ">
            <i class="menu-icon fa fa-sign-in"></i>
            Войти
          </button>
        </p>
        <p>
          <a class="btn btn-link btn-mini color-white px-0" routerLink="/onboarding">
            <i class="menu-icon fa fa-graduation-cap"></i> К
            обучению</a>
        </p>
      </div>
      <div *isAuthenticated class="app-desktop-nav-menu">
        <ul class="font-0">
          <li routerLinkActive="active">
            <span class="icon"><i class="icon-search"></i></span>
            <a routerLink="/search">Поиск нянь</a>
          </li>
          <li routerLinkActive="active">
            <span class="icon"><i class="icon-requests"></i></span>
            <a routerLink="/requests">Запросы</a>
            <ul class="d-none">
              <li routerLinkActive="active">
                <a routerLink="/requests">Активные</a>
              </li>
              <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a routerLink="/requests/closed">Закрытые</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <span class="icon"><i class="icon-visits"></i></span>
            <a routerLink="/deals">Визиты</a>
          </li>
          <li routerLinkActive="active">
            <span class="icon"><i class="icon-chat"></i></span>
            <a routerLink="/chat">Чаты</a>
            <span *ngIf="totalUnseen|async as count" class="count">{{count}}</span>
          </li>
          <li routerLinkActive="active">
            <span class="icon"><i class="icon-profile"></i></span>
            <a routerLink="/profile">Профиль</a>
          </li>
          <li>
            <span class="icon"><i class="icon-chat"></i></span>
            <a carrotOpenChat>Чат поддержки</a>
          </li>
        </ul>
      </div>
    </ng-container>
  </es-header>
  <router-outlet></router-outlet>
</es-layout>
