<div class="mb-4">
  <h3 [ngSwitch]="day" class="mb-3">
    <ng-container *ngSwitchCase="1">Понедельник</ng-container>
    <ng-container *ngSwitchCase="2">Вторник</ng-container>
    <ng-container *ngSwitchCase="3">Среда</ng-container>
    <ng-container *ngSwitchCase="4">Четверг</ng-container>
    <ng-container *ngSwitchCase="5">Пятница</ng-container>
    <ng-container *ngSwitchCase="6">Суббота</ng-container>
    <ng-container *ngSwitchCase="7">Воскресенье</ng-container>
  </h3>
  <div class="flex justify-between">
    <div class="">
      <div (click)="remove(item)"
           *ngFor="let item of items"
           class="bg-primary-01 text-primary border-radius-4 py-1 px-3 mb-2"
           [ngSwitch]="isFullDay(item)">
        <ng-container *ngSwitchCase="true">Весь день</ng-container>
        <ng-container *ngSwitchDefault>{{item.from}} - {{item.to}}</ng-container>
        <i class="fa fa-times ml-1"></i>
      </div>
    </div>
    <div *ngIf="!editorMode && items.length" class="f-shrink-0 ml-2">
      <button (click)="edit()" class="btn btn-default btn-mini btn-block px-3">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <na-schedule-timerange-form (add)="addTimeSpan($event)"
                              *ngIf="!(!editorMode && items.length)"></na-schedule-timerange-form>
</div>
