<div class="px-4 py-6">
  <ng-container *ngFor="let chat of chatList|async">
    <div class="nanny-card" [routerLink]="['nanny/direct', chat.user.id]">
      <div class="side-col">
        <es-profile-photo [name]="chat.user.profile.name" [src]="chat.user.profile.photo"></es-profile-photo>
      </div>
      <div class="f-grow-1">
        <h4 class="nanny-name">
          <span>{{chat.user.profile.name}}</span>
          <span class="rounded d-iblock bg-attention border-radius-3 px-2 py-1 color-white fs-0_5dn ml-1" *ngIf="chat.unseen">{{chat.unseen}}</span>
        </h4>
        <div class="nanny-summary" *ngIf="chat.lastMessage">
          {{chat.lastMessage.text}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
