:host {
  display: block;
  width: 100%;
}

.month-container {
  display: flex;
  flex-wrap: wrap;
}

.month-item {
  flex-grow: 1;
  flex-basis: 33%;
}

.month-item-inner {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid var(--secondary);
  text-align: center;
}

.day-list-container {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}

.day-list-item {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /*background-color: var(--primary);*/
  border: 1px solid var(--secondary);
  border-left: 0;
  color: var(--secondary)
}

.day-list-item:first-child {
  border-left: 1px solid var(--secondary);
}

.day-list-item.active {
  background-color: var(--secondary);
  color: var(--white);
}

.day-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
