<div class="day-list-container u-fancy-scrollbar">
  <div (click)="select(day)" *ngFor="let day of days" [class.active]="isSelected(day)" class="day-list-item">
    <div class="day-inner">
      <div class="text-uppercase">{{day|date:'EEE'}}</div>
      <div class="text-">{{day|date:'dd'}}</div>
    </div>
  </div>
</div>
