<div class="flex py-1">
  <div class="f-grow-1">
    <h2 class="fs-2 fw-500 ">Создать сделку: </h2>
  </div>
  <div (click)="dialogRef.close()" class="f-shrink-0 modal-close ml-2"></div>
</div>

<div class="">
  <form (ngSubmit)="offer()" [formGroup]="form" class="form">
    <div class="form-row">
      <div class="form-item">
        <label class="form-label pt-1">Запрос:</label>
        <div class="form-control">
          <div class="color-dark fs-1 py-1">#{{nannyRequest.request.id}}</div>
        </div>
      </div>
      <div class="form-item">
        <label class="form-label pt-1">Дата визита:</label>
        <div class="form-control">
          <div class="color-dark fs-1 py-1">{{nannyRequest.request.date|date}}</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-item">
        <label class="form-label pt-1">Начало визита:</label>
        <div class="form-control">
          <input [format]="24"
                 [ngxTimepicker]="fromPricker"
                 formControlName="fromTime"
                 readonly type="text" value="9:00">
          <ngx-material-timepicker #fromPricker [theme]="theme"
                                   defaultTime="9:00"
                                   minutesGap="10"></ngx-material-timepicker>
        </div>
      </div>
      <div class="form-item">
        <label class="form-label pt-1">Конец визита:</label>
        <div class="form-control">
          <input [format]="24"
                 [ngxTimepicker]="toPicker"
                 formControlName="toTime"
                 readonly type="text" value="15:00">
          <ngx-material-timepicker #toPicker
                                   [theme]="theme"
                                   defaultTime="15:00"
                                   minutesGap="10"
          ></ngx-material-timepicker>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-item">
        <label class="form-label pt-1">Стоимость (PLN/час):</label>
        <div class="form-control">
          <input formControlName="rate" type="text">
        </div>
      </div>
      <div class="form-item">
        <label class="form-label pt-1">Продолжительность:</label>
        <div class="form-control">
          <div class="color-dark fs-1 py-1">3 часа</div>
        </div>
      </div>
    </div>
    <div class="form-row pt-4">
      <div class="form-item mb-1">
        <div class="form-control">
          <button class="btn btn-secondary btn-mini btn-block">Предложить</button>
        </div>
      </div>
    </div>
  </form>
</div>
