<ng-container *ngIf="deal$|async as deal">
  <ng-container *ngIf="deal.isActive; else completedTpl">
    <div class="px-4 mb-5">
      <div class="flex">
        <div class="f-grow-1">
          <h1 class="page-title text-left mb-1"
              i18n="@@visitNumber">Визит #{{deal.id}}</h1>
          <div *ngIf="deal.startedAt" class="fs-1 text-secondary"
               i18n="@@visitStarted">Визит начат
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="deal.startedAt" class="info-block">
      <div *ngIf="durationAndCost$|async as durationAndCost" class="visit-progress">
        <div class="py-3 px-4">
          <div class="fs-1 pt-1 mb-2 text-center"
               i18n="@visitDuration">Продолжительность визита:
          </div>
          <div class="text-center color-dark">
            <div class="visit-progress-countdown">{{durationAndCost.duration}}</div>
          </div>
        </div>
        <div class="py-3 px-4 border-style-solid border-color-gray-100 border-top-width-1 border-bottom-width-1">
          <div class="flex align-center justify-between">
            <div class="fs-1" i18n="@@visitCost">Стоимость визита:</div>
            <div
              class="fs-4 fw-500 color-dark lh-1_1 pr-1">{{durationAndCost.cost|currency:'PLN':'symbol':'1.0-0'}}</div>
          </div>
        </div>
        <button (click)="finishVisit(deal)" *ngIf="deal.startedAt" class="btn btn-secondary btn-block"
                i18n="@@finishVisit"> Завершить визит
        </button>
      </div>

    </div>

    <div [routerLink]="['/parent', deal.parent.id]" class="info-block py-4 px-4 mb-2">
      <div class="flex align-center">
        <div class="mr-4">
          <es-profile-photo [src]="deal.parent.photo" size="small"></es-profile-photo>
        </div>
        <div class="f-grow-1">
          <h4 class="font-1 fw-500 mb-1">{{deal.parent.name}}</h4>
        </div>
      </div>
    </div>

    <div class="info-block pt-6 pb-6 px-4 mb-2">

      <div class="fs-0_5dn color-gray-500" i18n="@@dateAndTime">Дата и время:</div>

      <div class="fs-5_5 lh-1_4 color-dark pt-2">
        <div>{{deal.date|date:'d MMMM, EEEE'}}</div>
        <div>
          <na-deal-time-range [deal]="deal"></na-deal-time-range>
        </div>
      </div>
      <div *ngIf="!deal.isActive && deal.tag!=='suspended' && deal.tag!=='cancelled'"
           class="flex mb-1 color-gray-700">
        <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-money font-1_5"></i></div>
        <na-deal-real-cost [deal]="deal"></na-deal-real-cost>
      </div>
    </div>


    <div class="info-block mb-2">
      <div class="form-row">
        <div class="form-item mb-1">
          <label class="form-label" i18n="@@children">Дети</label>
          <div class="children-list pt-3">
            <es-child-with-icon *ngFor="let child of deal.children" [child]="child"></es-child-with-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block pt-5 mb-2">

      <h3 class="" i18n="@@wishes">Пожелания:</h3>

      <div [innerHtml]="deal.wishes"></div>

    </div>

    <div *ngIf="!deal.startedAt" class="info-block px-4 py-5">
      <div class="form-row">
        <div class="form-item mb-0">
          <div class="form-control">
            <button (click)="startVisit(deal)" class="btn btn-secondary btn-min btn-block"
                    i18n="@@startVisit">Начать
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #completedTpl>
    <h1 class="page-title px-4 pt-1 mb-4 text-left" i18n="@@visitNumber">Визит #{{deal.id}}</h1>

    <div class="pb-5">
      <div class="info-block request-card p-4 mb-3">
        <div class="flex">
          <div class="side-col mr-3">
            <es-profile-photo [routerLink]="['/parent', deal.parent.id]" [src]="deal.parent.photo"></es-profile-photo>
          </div>
          <div class="f-grow-1">
            <div [routerLink]="['/parent', deal.parent.id]" class="flex justify-between">
              <h3 class="font-weight-500 mb-2 mr-1">{{deal.parent.name}}</h3>
              <div class="f-shrink-0 color-gray-300">#{{deal.parent.id}}</div>
            </div>

            <div class="flex mb-1">
              <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center">
                <i class="fa fa-calendar font-1_5"></i>
              </div>
              {{deal.date|date:'dd MMM yyyy, EEEE'}}
            </div>
            <div class="flex mb-1">
              <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center">
                <i class="fa fa-clock-o font-1_5"></i>
              </div>
              <na-deal-time-range [deal]="deal"></na-deal-time-range>
            </div>
            <div *ngIf="!deal.isActive && deal.tag!=='suspended' && deal.tag!=='cancelled'"
                 class="flex mb-1 color-gray-700">
              <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-money font-1_5"></i></div>
              <na-deal-real-cost [deal]="deal"></na-deal-real-cost>
            </div>
            <div class="flex mb-1 color-gray-700">
              <div class="f-basis-mw-5 mr-2 color-secondary-07 text-center"><i class="fa fa-child font-1_5"></i></div>
              <div>{{deal.children.length}}
                <ng-container i18n="@@childrenCount">{
                  deal.children.length,
                  plural,
                  =1 {ребенок}
                  other {детей}
                  }</ng-container>
                <br>
                <ng-container *ngFor="let child of deal.children; let last=last; let i=index" class="pl-2">
                  <es-child [child]="child"></es-child>
                  <ng-container *ngIf="i<(deal.children.length-1)">,
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="pt-1 mb-2">
              <div class="d-iblock bg-success-01 color-success border-radius-4 py-1 px-3">
                <i class="fa fa-check mr-1"></i> Визит завершен
              </div>
            </div>

            <div *ngIf="deal.review" class="pt-1 flex color-gray-700 font-0_5">
              <div class="mr-2" i18n="Displays score which user set to the visit@@userReviewRating">Ваша оценка:</div>
              <es-rating [rating]="deal.review.rating" [showText]="true"></es-rating>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="deal.review; else reviewForm">
        <div *ngIf="deal.review.pros || deal.review.cons" class="info-block mb-3">
          <div *ngIf="deal.review.pros" class="pt-1">
            <h2 class="font-2 fw-500 flex align-center">
              <span class="font-6 mr-2"><i class="fa fa-thumbs-o-up"></i></span>
              <ng-container i18n="What the user did like@@cons">Что понравилось:</ng-container>
            </h2>
            <div>
              {{deal.review.pros}}
            </div>
          </div>
          <div *ngIf="deal.review.cons" class="pt-1">
            <h2 class="font-2 fw-500 flex align-center">
              <span class="font-6 mr-2"><i class="fa fa-thumbs-o-down"></i></span>
              <ng-container i18n="What the user did not like@@pros">Что не понравилось:</ng-container>
            </h2>
            <div>
              {{deal.review.cons}}
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #reviewForm>
        <div class="info-block mb-0">
          <es-review-form (save)="submitReview($event, deal)">
            <h2 class="fw-500 mt-4 mb-2" i18n="Invites the nanny to leave an assessment@@addReviewCta">Оцените
              заказчика</h2>
          </es-review-form>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
