<ng-container [ngSwitch]="message.type">
  <chat-date-message
    *ngSwitchCase="messageTypes.Date"
    [message]="message">
  </chat-date-message>
  <chat-user-message
    *ngSwitchDefault
    [message]="message">
  </chat-user-message>
</ng-container>
