::ng-deep .mat-datepicker-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: right;

  button {
    height: 100%;
    line-height: 1.4;
    border-radius: 0;
  }
}

