<h1 class="page-title">Profil</h1>
<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div class="profile pb-2">
    <div class="info-block mb-5">
      <div class="form pt-1">
        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Имя:</label>
            <div class="form-control">
              <input class="" formControlName="name" placeholder="" type="text">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Дата рождения:</label>
            <div class="form-control p-relative">
              <input
                [matDatepicker]="picker"
                class=""
                formControlName="birthDate"
                placeholder=""
                type="text"
              >
              <mat-datepicker-toggle (click)="picker.open()" [for]="picker"
                                     class="color-dark"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi></mat-datepicker>

            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Телефон:</label>
            <div class="form-control">
              <input class="" formControlName="phone" placeholder="" type="text">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Почтовый код:</label>
            <div class="form-control">
              <input class="" formControlName="zipCode" placeholder="" type="text">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Адрес:</label>
            <div class="form-control">
              <input class="" formControlName="address" placeholder="" type="text">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-item">
            <label class="form-label">Фото:</label>
            <div class="flex justify-between align-center pt-2">
              <div>
                <es-profile-photo [src]="form.get('photo').value" size="large"></es-profile-photo>
              </div>
              <div *ngIf="photoUploading; else selectPhoto">
                Загрузка...
              </div>
            </div>
          </div>
        </div>


        <!--        <div class="form-row">-->
        <!--          <div class="form-item">-->
        <!--            <label class="form-label">Профиль в Facebook:</label>-->
        <!--            <div class="form-control">-->
        <!--              <input type="text" class="" placeholder="" formControlName="">-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>

    <div class="info-block mb-5">
      <div class="form-row">
        <div class="form-item mb-1">
          <label class="form-label">Дети</label>
          <div class="children-list pt-3">
            <es-child-with-icon
              (click)="removeChild(idx)"
              *ngFor="let child of children.value; let idx = index"
              [child]="child"
            ></es-child-with-icon>
            <div (click)="openChildSelector(childSelector)" *ngIf="children.value.length" class="add-item">
              <div class="inner">
                <div class="icon"><i></i></div>
                <div class="caption">Добавить</div>
              </div>
            </div>
            <div (click)="openChildSelector(childSelector)" *ngIf="!children.value.length" class="add-first">
              Указать количество и возраст детей
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block">
      <h2>Пожелания:</h2>
      <div class="form-row">
        <div class="form-item">
          <div class="form-control">
            <textarea cdkTextareaAutosize class="" formControlName="description"
                      placeholder="Расскажите о себе"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="py-4 px-4 px-desktop-0">
      <button class="btn btn-secondary btn-block">Сохранить и продолжить</button>
    </div>
  </div>
</form>
<ng-template #childSelector>
  <div class="modal-body">
    <div class="children-list">
      <es-child-with-icon (click)="selectChild(0)" [child]="0"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(1)" [child]="1"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(2)" [child]="2"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(3)" [child]="3"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(4)" [child]="4"></es-child-with-icon>
      <es-child-with-icon (click)="selectChild(5)" [child]="5"></es-child-with-icon>
    </div>
  </div>
</ng-template>
<ng-template #selectPhoto>
  <input #photo (change)="updatePhoto($event)" [style.display]="'none'" accept="image/jpeg, image/png"
         type="file">
  <button (click)="photo.click()" class="btn btn-default" type="button">Выбрать фото</button>
</ng-template>
