<es-layout>
  <na-pwa-wrapper ngProjectAs="pre-header"></na-pwa-wrapper>
  <es-header>
    <nav>
      <ng-container *isAuthenticated>
        <ng-container *naCurrentCounters="let counters">
          <ul>
            <li>
              <a routerLink="/conversations"><i class="menu-icon fa fa-commenting-o"></i>
                <ng-container i18n="@@conversations">Переговоры</ng-container>
              </a>
              <span *ngIf="counters.conversations" class="count">{{counters.conversations}}</span>
            </li>
            <li>
              <a routerLink="/visits"><i class="menu-icon fa fa-calendar"></i>
                <ng-container i18n="@@visits">Визиты</ng-container>
              </a>
              <span *ngIf="counters.visits" class="count">{{counters.visits}}</span>
            </li>
            <li>
              <a routerLink="/chat"><i class="menu-icon fa fa-commenting"></i>
                <ng-container i18n="@@chatList">Чаты</ng-container>
              </a>
              <span *ngIf="counters.newMessages" class="count">{{counters.newMessages}}</span>
            </li>
            <li>
              <a routerLink="/profile"><i class="menu-icon fa fa-user-o"></i>
                <ng-container i18n="@@profile">Профиль</ng-container>
              </a>
            </li>
            <li>
              <a carrotOpenChat><i class="menu-icon fa fa-comments-o"></i>
                <ng-container i18n="@@support_chat">Чат поддержки</ng-container>
              </a>
            </li>
            <li>
              <a (click)="logout()"><i class="menu-icon fa fa-sign-out"></i>
                <ng-container i18n="@@logout">Выйти</ng-container>
              </a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
      <ng-container *notAuthenticated>
        <span routerLink="/login">Для продолжения нужно войти</span>
      </ng-container>
    </nav>

    <ng-container ngProjectAs="desktop-nav">
      <div *isAuthenticated class="app-desktop-nav-user pt-7 mb-3">
        <div *ngIf="profile|async as profile" class="flex mb-1">
          <div class="f-shrink-0 mr-2">
            <div [style.background-image]="'url('+profile.photo+')'" class="userpic-round-6"></div>
          </div>
          <div class="f-grow-1 font-0_5dn lh-1_2">
            <div class="name">{{profile.name}}</div>
            <!--            <div class="id">ID: 2354</div>-->
          </div>
        </div>
        <div class="pl-8">
          <a (click)="logout()" routerLink=".">
            <i class="fa fa-sign-out"></i>
            <ng-container i18n="@@logout">Выйти</ng-container>
          </a>
        </div>
      </div>
      <div *isAuthenticated class="app-desktop-nav-menu">
        <ng-container *naCurrentCounters="let counters">
          <ul class="font-0">
            <li>
              <span class="icon"><i class="icon-requests"></i></span>
              <a routerLink="/conversations">
                <ng-container i18n="@@conversations">Переговоры</ng-container>
              </a>
              <span *ngIf="counters.conversations" class="count">{{counters.conversations}}</span>
            </li>
            <li>
              <span class="icon"><i class="icon-visits"></i></span>
              <a routerLink="/visits">
                <ng-container i18n="@@visits">Визиты</ng-container>
              </a>
              <span *ngIf="counters.visits" class="count">{{counters.visits}}</span>
            </li>
            <li routerLinkActive="active">
              <span class="icon"><i class="icon-chat"></i></span>
              <a routerLink="/chat">Чаты</a>
              <span *ngIf="counters.newMessages" class="count">{{counters.newMessages}}</span>
            </li>
            <li>
              <span class="icon"><i class="icon-profile"></i></span>
              <a routerLink="/profile">
                <ng-container i18n="@@profile">Профиль</ng-container>
              </a>
            </li>
            <li>
              <span class="icon"><i class="icon-chat"></i></span>
              <a carrotOpenChat>
                <ng-container i18n="@@support_chat">Чат поддержки</ng-container>
              </a>
            </li>
          </ul>
        </ng-container>
      </div>
    </ng-container>
  </es-header>
  <router-outlet></router-outlet>
</es-layout>
