<ng-container [ngSwitch]="deal.isActive || deal.tag==='suspended' || deal.tag==='cancelled'">
  <ng-container *ngSwitchCase="true">
    {{deal.fromTime}} &mdash; {{deal.toTime}}
  </ng-container>
  <ng-container *ngSwitchCase="false">
    {{deal.startedAt | date:'HH:mm':'UTC+2'}} &mdash; {{deal.finishedAt|date:'HH:mm':'UTC+2'}}
  </ng-container>
</ng-container>
