<ng-container *ngIf="source$|async as data">
  <div (swipeleft)="navigateToConversations()" *ngIf="data.length; else empty" class="px-4 pb-5 overflow-y-auto">
    <es-request-card *ngFor="let item of data">
      <div class="side-col mr-3">
        <es-profile-photo [src]="item.request.parent.photo"></es-profile-photo>
      </div>
      <na-request-details [details]="item.request"
                          [id]="item.request.id"
                          [routerLink]="['/request', item.request.id]"
                          class="f-grow-1"></na-request-details>

      <es-request-card-actions>
        <div class="form-item mb-0">
          <button (click)="refuse(item)" class="btn btn-mini btn-secondary-outline btn-block"
                  i18n="@@refuseRequestButton">Не интересно
          </button>
        </div>
        <div class="form-item mb-0">
          <button (click)="accept(item)" class="btn btn-mini btn-secondary btn-block"
                  i18n="@@acceptRequestButton">Интересно
          </button>
        </div>
      </es-request-card-actions>
    </es-request-card>
  </div>
</ng-container>

<ng-template #empty>
  <div (swipeleft)="navigateToConversations()" class="px-4 pb-5 text-center">
    <div class="p-10">
      <div class="toys-icon"></div>
    </div>
    <div class="px-7 text-large">
      <p i18n="request list is empty heading@@emptyRequestListHeading">У Вас пока нет запросов.</p>
      <p i18n="request list is empty subheading@@emptyRequestListSubheading">Они будут отображаться здесь, как только
        родители направят их Вам.</p>
    </div>
  </div>
</ng-template>
