<div *ngIf="parent|async as profile" class="profile">
  <div class="profile-cover" style="background-image: url(assets/images/profile-cover-2.jpg)"></div>
  <div class=" px-4">
    <div class="user-picture">
      <es-profile-photo [src]="profile.photo" class="photo"></es-profile-photo>
    </div>
    <div class="profile-title">
      <h1>{{profile.name}}&nbsp;</h1>
      <div class="user-id">(ID: {{profile.id}})</div>
    </div>

    <div class="mb-4">
      <h2 class="font-2 mb-4" i18n="@@children">Дети</h2>
      <div class="children-list">
        <es-child-with-icon *ngFor="let child of profile.children" [child]="child"></es-child-with-icon>
      </div>
    </div>

    <div *ngIf="profile.description" class="info-block">
      <h2 class="font-2 mb-4" i18n="@@additionalInformation">Дополнительная информация</h2>
      <div>{{profile.description}}</div>
    </div>
  </div>
</div>
