<h1 mat-dialog-title>Запрос видеособеседования</h1>
<mat-dialog-content>
  <div class="flex">
    <button (click)="accept()" class="btn btn-mini btn-primary">Принять</button>
    <span class="f-grow-1"></span>
    <button class="btn btn-mini btn-attention-outline" mat-dialog-close="">Отклонить</button>
  </div>
</mat-dialog-content>
