<header class="app-header">
  <div class="app-header-main">
    <div class="app-header-tools">
      <div class="tool-item item-go-back">
        <a (click)="back()" *ngIf="showBackButton|async"><i class="fa fa-angle-left"></i></a>
      </div>
    </div>
    <div class="app-header-brand">
      <div class="logo"></div>
    </div>
    <div class="app-header-tools">
      <div class="tool-item">
        <ng-content select="es-notification-bell"></ng-content>
      </div>
      <div class="tool-item"><span (click)="openNav()" class="nav-toggle" id="nav-toggle"><i></i></span></div>
    </div>
  </div>
  <div class="app-main-nav">
    <div class="app-main-nav-inner">
      <ng-content select="nav"></ng-content>
    </div>
    <div (click)="closeNav()" class="nav-close" id="nav-close"><i class="fa fa-close"></i></div>
  </div>
  <div class="app-desktop-nav">
    <ng-content select="desktop-nav"></ng-content>
  </div>
</header>
